<!DOCTYPE HTML>
<html lang="en-US">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>Poket – CCTV Responsive Website Template </title>
      <meta name="script" content="">
      <meta name="viewport" content="wicorporateh=device-wicorporateh, initial-scale=1">
      <!-- Favicon Icon -->
      <link rel="icon"  type="image/png" href="assets/images/favicon.png">
      <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css"/>
      <link rel="stylesheet" type="text/css" href="venobox/venobox.css"/>
      <link rel="stylesheet" type="text/css" href="assets/css/plugin_theme_css.css"/>
      <link rel="stylesheet" type="text/css" href="style.css"/>
      <link rel="stylesheet" type="text/css" href="assets/css/allcss/cctv_style.css"/>
      <link rel="stylesheet" type="text/css" href="assets/css/allcss/responsive/responsive.css"/>
      <link rel="stylesheet" type="text/css" href="assets/css/allcss/responsive/cctv-responsive.css"/>
      <!-- modernizr js -->	
      <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>		
   </head>
   <body>
      <div class="em40_header_area_main">
         <div class="poket-header-top   ">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-xs-12 col-lg-9 col-xl-9 col-md-9 col-sm-12">
                     <div class="top-address text-left">
                        <p>							
                           <span><i class="icofont-location-pin"></i>Address: 92 Bowery St., New York, NY 10013</span>
                           <a href="#"><i class="icofont-envelope"></i>Email: demo@example.com </a>
                           <span> <i class="icofont-clock-time"></i>Office Open: 9.00 am - 8.00 pm </span>
                        </p>
                     </div>
                  </div>
                  <!-- TOP RIGHT -->
                  <div class="col-xs-12 col-lg-3 col-xl-3 col-md-3 col-sm-12 ">
                     <div class="top-right-menu">
                        <ul class="social-icons text-right text_m_center">
                           <li><a href="#"><i class="icofont-facebook"></i></a></li>
                           <li><a href="#"><i class="icofont-x"></i></a></li>
                           <li><a href="#"><i class="icofont-pinterest"></i></a></li>
                           <li><a href="#"><i class="icofont-vimeo"></i></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- END HEADER TOP AREA -->
         <div class="poket-main-menu one_page hidden-xs hidden-sm  witr_h_h10">
            <div class="poket_nav_area scroll_fixed postfix">
               <div class="container-fluid">
                  <div class="row logo-left">
                     <div class="col-md-3 col-sm-3 col-xs-4">
                        <div class="logo">
                           <a class="main_sticky_main_l" href="cctv.html" title="poket">
                           <img src="assets/images/cctv/logo1.png" alt="poket">
                           </a>
                           <a class="main_sticky_l" href="cctv.html" title="poket">
                           <img src="assets/images/medical/logo2.png" alt="poket">
                           </a>
                        </div>
                     </div>
                     <!-- MAIN MENU -->
                     <div class="col-md-9 col-sm-9 col-xs-8">
                        <div class="tx_mmenu_together">
                           <nav class="poket_menu">
                              <ul class="sub-menu">
                                 <li class="menu-item-has-children">
                                    <a href="#">Home</a>
                                    <ul class="sub-menu">
                                       <li><a href="cctv.html">Home Main Page</a></li>
                                       <li><a href="cctv-home-video-page.html">Home Video Page</a></li>
                                       <li><a href="cctv-landing-page.html">Landing Page</a></li>
                                    </ul>
                                 </li>
                                 <li><a href="cctv-about.html">About</a></li>
                                 <li class="menu-item-has-children">
                                    <a href="#">Pages</a>
                                    <ul class="sub-menu">
                                       <li><a href="cctv-team.html">Team</a></li>
                                       <li><a href="cctv-pricing.html">Pricing</a></li>
                                       <li><a href="cctv-service.html">Service</a></li>
                                       <li><a href="cctv-portfolio.html">Portfolio</a></li>
                                       <li><a href="cctv-our-clients.html">Our Clients</a></li>
                                       <li><a href="cctv-faq.html">Faq</a></li>
                                    </ul>
                                 </li>
                                 <li class="menu-item-has-children">
                                    <a href="#">Services</a>
                                    <ul class="sub-menu">
                                       <li><a href="cctv-installation.html">Installation CCTV</a></li>
                                       <li><a href="cctv-software-development.html">Software Development</a></li>
                                       <li><a href="cctv-home-security.html">Home Security</a></li>
                                       <li><a href="cctv-residential-security.html">Residential Security</a></li>
                                    </ul>
                                 </li>
                                 <li class="menu-item-has-children">
                                    <a href="#">Blog</a>
                                    <ul class="sub-menu">
                                       <li><a href="cctv-blog.html">Blog Gird</a></li>
                                       <li><a href="cctv-blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                       <li><a href="cctv-blog-right-sidebar.html">Blog Right Sidebar</a></li>
                                    </ul>
                                 </li>
                                 <li><a href="cctv-contact.html">Contact</a></li>
                              </ul>
                           </nav>
                           <div class="main-search-menu">
                              <div class="em-quearys-top msin-menu-search">
                                 <div class="em-top-quearys-area">
                                    <div class="em-header-quearys">
                                       <div class="em-quearys-menu">
                                          <i class="icofont-search-2 t-quearys"></i>
                                       </div>
                                    </div>
                                    <!--SEARCH FORM-->
                                    <div class="em-quearys-inner">
                                       <div class="em-quearys-form">
                                          <form class="top-form-control" action="#" method="get">
                                             <input type="text" placeholder="Type Your Keyword" name="s" value="">
                                             <button class="top-quearys-style" type="submit">
                                             <i class="icofont-long-arrow-right"></i>
                                             </button>
                                          </form>
                                          <div class="em-header-quearys-close text-center mrt10">
                                             <div class="em-quearys-menu">
                                                <i class="fa fa-close t-close em-s-hidden"></i>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <!-- menu button -->
                           <div class="donate-btn-header">
                              <a class="dtbtn" href="#"> Request Demo </a>	
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- MOBILE MENU Logo AREA -->
      <div class="mobile_logo_area hidden-md hidden-lg">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <div class="mobile_menu_logo text-center">
                     <a href="cctv.html" title="poket">
                     <img src="assets/images/cctv/logo1.png" alt="poket">
                     </a>		
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- MOBILE MENU AREA -->
      <div class="home-2 mbm hidden-md hidden-lg  header_area main-menu-area">
         <div class="menu_area mobile-menu">
            <nav class="poket_menu">
               <ul class="sub-menu">
					<li class="menu-item-has-children">
						<a href="#">Home</a>
						<ul class="sub-menu">
						   <li><a href="cctv.html">Home Main Page</a></li>
						   <li><a href="cctv-home-video-page.html">Home Video Page</a></li>
						   <li><a href="cctv-landing-page.html">Landing Page</a></li>
						</ul>
					</li>
					 <li><a href="cctv-about.html">About</a></li>
					 <li class="menu-item-has-children">
						<a href="#">Pages</a>
						<ul class="sub-menu">
						   <li><a href="cctv-team.html">Team</a></li>
						   <li><a href="cctv-pricing.html">Pricing</a></li>
						   <li><a href="cctv-service.html">Service</a></li>
						   <li><a href="cctv-portfolio.html">Portfolio</a></li>
						   <li><a href="cctv-our-clients.html">Our Clients</a></li>
						   <li><a href="cctv-faq.html">Faq</a></li>
						</ul>
					 </li>
					 <li class="menu-item-has-children">
						<a href="#">Services</a>
						<ul class="sub-menu">
						   <li><a href="cctv-installation.html">Installation CCTV</a></li>
						   <li><a href="cctv-software-development.html">Software Development</a></li>
						   <li><a href="cctv-home-security.html">Home Security</a></li>
						   <li><a href="cctv-residential-security.html">Residential Security</a></li>
						</ul>
					 </li>
					 <li class="menu-item-has-children">
						<a href="#">Blog</a>
						<ul class="sub-menu">
						   <li><a href="cctv-blog.html">Blog Gird</a></li>
						   <li><a href="cctv-blog-left-sidebar.html">Blog Left Sidebar</a></li>
						   <li><a href="cctv-blog-right-sidebar.html">Blog Right Sidebar</a></li>
						</ul>
					 </li>
					 <li><a href="cctv-contact.html">Contact</a></li>
				  </ul>
            </nav>
         </div>
      </div>
      <!-- END MOBILE MENU AREA  -->
      <!-- breadcumb area -->
      <div class="breadcumb-area">
         <div class="container">
            <div class="row">
               <div class="col-md-12 txtc  text-center ccase">
                  <div class="brpt">
                     <h2>Home Security</h2>
                  </div>
                  <div class="breadcumb-inner">
                     <ul>
                        <li>You are currently here! <i class="icofont-thin-right"></i> </li>
                        <li><a href="#" rel="v:url" property="v:title">Home</a></li>
                        <li><i class="icofont-thin-right"></i></li>
                        <li><span class="current">Home Security</span></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- End breadcumb area -->
     <!-- cctv service area2 -->
      <div class="cctv_service_area2 cctv_home_secuirity_service2">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <div class="witr_section_title">
                     <div class="witr_section_title_inner text-center">
                        <h2>CCTV Protection</h2>
                        <h3>Industries What We Serve</h3>
                        <h1>With You.</h1>
                        <div class="witr_image_title">
                           <img src="assets/images/cctv/bar-img.png" alt="image">
                        </div>
                     </div>
                  </div>
               </div>
               <!-- single service -->
               <div class="col-lg-4 col-md-6">
                  <div class="em-service all_color_service text-center">
                     <div class="em_service_content">
                        <div class="em_single_service_text ">
                           <div class="service_top_text">
                              <div class="em-service-icon all_icon_color"> 
                                 <img src="assets/images/cctv/feicon1.png" alt="image">
                              </div>
                              <div class="em-service-title">
                                 <h3><a href="#">Home Security</a></h3>
                              </div>
                           </div>
                           <div class="em-service-inner">
                              <div class="em-service-desc">
                                 <p>We are vestibulum arcu a arcu risque, quis dignissim turpis semper onec tor volutpat a iaculis sit amet.</p>
                              </div>
                           </div>
                           <div class="service-btn"> <a href="#"><i class="icofont-rounded-right"></i> </a></div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- 02 single service -->
               <div class="col-lg-4 col-md-6">
                  <div class="em-service all_color_service text-center">
                     <div class="em_service_content">
                        <div class="em_single_service_text ">
                           <div class="service_top_text">
                              <div class="em-service-icon all_icon_color"> 
                                 <img src="assets/images/cctv/feicon2.png" alt="image">
                              </div>
                              <div class="em-service-title">
                                 <h3><a href="#">Useful Support</a></h3>
                              </div>
                           </div>
                           <div class="em-service-inner">
                              <div class="em-service-desc">
                                 <p>We are vestibulum arcu a arcu risque, quis dignissim turpis semper onec tor volutpat a iaculis sit amet.</p>
                              </div>
                           </div>
                           <div class="service-btn"> <a href="#"><i class="icofont-rounded-right"></i> </a></div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- 03 single service -->
               <div class="col-lg-4 col-md-6">
                  <div class="em-service all_color_service text-center">
                     <div class="em_service_content">
                        <div class="em_single_service_text ">
                           <div class="service_top_text">
                              <div class="em-service-icon all_icon_color"> 
                                 <img src="assets/images/cctv/feicon3.png" alt="image">
                              </div>
                              <div class="em-service-title">
                                 <h3><a href="#">Hacking Protection</a></h3>
                              </div>
                           </div>
                           <div class="em-service-inner">
                              <div class="em-service-desc">
                                 <p>We are vestibulum arcu a arcu risque, quis dignissim turpis semper onec tor volutpat a iaculis sit amet.</p>
                              </div>
                           </div>
                           <div class="service-btn"> <a href="#"><i class="icofont-rounded-right"></i> </a></div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- 04 single service -->
               <div class="col-lg-4 col-md-6">
                  <div class="em-service all_color_service text-center">
                     <div class="em_service_content">
                        <div class="em_single_service_text ">
                           <div class="service_top_text">
                              <div class="em-service-icon all_icon_color"> 
                                 <img src="assets/images/cctv/feicon4.png" alt="image">
                              </div>
                              <div class="em-service-title">
                                 <h3><a href="#">CCTV information</a></h3>
                              </div>
                           </div>
                           <div class="em-service-inner">
                              <div class="em-service-desc">
                                 <p>We are vestibulum arcu a arcu risque, quis dignissim turpis semper onec tor volutpat a iaculis sit amet.</p>
                              </div>
                           </div>
                           <div class="service-btn"> <a href="#"><i class="icofont-rounded-right"></i> </a></div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- 05 single service -->
               <div class="col-lg-4 col-md-6">
                  <div class="em-service all_color_service text-center">
                     <div class="em_service_content">
                        <div class="em_single_service_text ">
                           <div class="service_top_text">
                              <div class="em-service-icon all_icon_color"> 
                                 <img src="assets/images/cctv/feicon5.png" alt="image">
                              </div>
                              <div class="em-service-title">
                                 <h3><a href="#">Finger Print Access</a></h3>
                              </div>
                           </div>
                           <div class="em-service-inner">
                              <div class="em-service-desc">
                                 <p>We are vestibulum arcu a arcu risque, quis dignissim turpis semper onec tor volutpat a iaculis sit amet.</p>
                              </div>
                           </div>
                           <div class="service-btn"> <a href="#"><i class="icofont-rounded-right"></i> </a></div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- 06 single service -->
               <div class="col-lg-4 col-md-6">
                  <div class="em-service all_color_service text-center">
                     <div class="em_service_content">
                        <div class="em_single_service_text ">
                           <div class="service_top_text">
                              <div class="em-service-icon all_icon_color"> 
                                 <img src="assets/images/cctv/feicon6.png" alt="image">
                              </div>
                              <div class="em-service-title">
                                 <h3><a href="#">Network Security</a></h3>
                              </div>
                           </div>
                           <div class="em-service-inner">
                              <div class="em-service-desc">
                                 <p>We are vestibulum arcu a arcu risque, quis dignissim turpis semper onec tor volutpat a iaculis sit amet.</p>
                              </div>
                           </div>
                           <div class="service-btn"> <a href="#"><i class="icofont-rounded-right"></i> </a></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
	  <!-- counter area -->
      <div class="cctv_counter_area">
         <div class="container">
            <div class="row">
               <!-- single counter -->
               <div class="col-lg-3 col-md-6">
                  <div class="witr_counter_single all_counter_color counter_one">
                     <div class="witr_counter_icon"> <i class="ti ti-heart"></i></div>
                     <div class="witr_counter_number_inn">
                        <h3 class="counter">963</h3>
                        <h4>Wining Case</h4>
                     </div>
                  </div>
               </div>
               <!-- 02 single counter -->
               <div class="col-lg-3 col-md-6">
                  <div class="witr_counter_single all_counter_color">
                     <div class="witr_counter_icon"> <i class="ti ti-user"></i></div>
                     <div class="witr_counter_number_inn">
                        <h3 class="counter">785</h3>
                        <span>+</span>
                        <h4>Total Membar</h4>
                     </div>
                  </div>
               </div>
               <!-- 03 single counter -->
               <div class="col-lg-3 col-md-6">
                  <div class="witr_counter_single all_counter_color">
                     <div class="witr_counter_icon"> <i class="icofont icofont-space-shuttle"></i></div>
                     <div class="witr_counter_number_inn">
                        <h3 class="counter">366</h3>
                        <span>+</span>
                        <h4>Cases Dismissed</h4>
                     </div>
                  </div>
               </div>
               <!-- 04 single counter -->
               <div class="col-lg-3 col-md-6">
                  <div class="witr_counter_single all_counter_color">
                     <div class="witr_counter_icon"> <i class="ti ti-world"></i></div>
                     <div class="witr_counter_number_inn">
                        <h3 class="counter">786</h3>
                        <span>+</span>
                        <h4>World in Office</h4>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
	   <!-- cctv pricing area -->
      <div class="cctv_pricing_area">
         <div class="container">
            <div class="row">
				<div class="col-lg-12">
					<div class="witr_section_title">
						<div class="witr_section_title_inner text-center">
							<h3>Best Facility</h3>
						</div>
					</div>
				</div>
				<!-- 1 single pricing -->
				<div class="col-lg-4 col-md-6">
					<div class="pricing_area all_pricing_color  ">
						<div class="pricing-part pricing_style_7 ">
							<div class="witr_pricing_icon"> <i class="icofont icofont-camera"></i></div>
							<strong>Popular </strong>
							<div class="prt_content">
							   <p>write content</p>
							</div>
							<h5><span>$</span>12.99 <span> /W</span></h5>
							<div class="pricing_bar_title">
							   <h4>Basic Plan</h4>
							</div>
							<div class="witri_texti_list">
							   <ul>
								  <li><i class="fas fa-angle-double-right"></i>List Title One</li>
								  <li><i class="fas fa-angle-double-right"></i>List Title Two</li>
								  <li><i class="fas fa-angle-double-right"></i>List TitleThree</li>
							   </ul>
							</div>
							<div class="witr_btnp_color"> <a class="btn" href="#">Buy now</a></div>
						</div>
					</div>
				</div>
				<!-- 2 single pricing -->
				<div class="col-lg-4 col-md-6">
					<div class="pricing_area all_pricing_color  ">
						<div class="pricing-part pricing_style_7 ">
							<div class="witr_pricing_icon"><i class="icofont icofont-video-cam"></i></div>
							<strong>Popular </strong>
							<div class="prt_content">
							   <p>write content</p>
							</div>
							<h5><span>$</span>29.99 <span> /M</span></h5>
							<div class="pricing_bar_title">
							   <h4>Advance Plan</h4>
							</div>
							<div class="witri_texti_list">
							   <ul>
								  <li><i class="fas fa-angle-double-right"></i>List Title One</li>
								  <li><i class="fas fa-angle-double-right"></i>List Title Two</li>
								  <li><i class="fas fa-angle-double-right"></i>List TitleThree</li>
							   </ul>
							</div>
							<div class="witr_btnp_color"> <a class="btn" href="#">Buy now</a></div>
						</div>
					</div>
				</div>
				<!-- 3 single pricing -->
				<div class="col-lg-4 col-md-6">
					<div class="pricing_area all_pricing_color  ">
						<div class="pricing-part pricing_style_7 ">
							<div class="witr_pricing_icon"><i class="fas fa-layer-group"></i></div>
							<strong>Popular </strong>
							<div class="prt_content">
							   <p>write content</p>
							</div>
							<h5><span>$</span>63.99 <span> /Y</span></h5>
							<div class="pricing_bar_title">
							   <h4>Premium Plan</h4>
							</div>
							<div class="witri_texti_list">
							   <ul>
								  <li><i class="fas fa-angle-double-right"></i>List Title One</li>
								  <li><i class="fas fa-angle-double-right"></i>List Title Two</li>
								  <li><i class="fas fa-angle-double-right"></i>List TitleThree</li>
							   </ul>
							</div>
							<div class="witr_btnp_color"> <a class="btn" href="#">Buy now</a></div>
						</div>
					</div>
				</div>
				
            </div>
         </div>
      </div>
	  <!-- call action area -->
      <div class="call_action_area">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <div class="witr_shortcode_area">
                     <div class="container ">
                        <div class="row witr_shortcode_inner">
                           <div class="col-lg-4 col-md-12 col-sm-12">
                              <div class="shortcode_content">
                                 <h2> Subscribe our newsletter &amp; get updates</h2>
                              </div>
                           </div>
                           <div class="col-lg-8 col-md-12 col-sm-12">
                              <div class="witr_shortcode_form">
                                 <form>
                                    <div class="mc4wp-form-fields">
                                       <p> <input type="email" name="EMAIL" placeholder="Your Email Address"> <button type="submit" value="Subscribe"> <span>Subscribe now</span> </button></p>
                                    </div>
                                    <div class="mc4wp-response"></div>
                                 </form>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- footer area -->
      <div class="witrfm_area">
         <!-- FOOTER MIDDLE AREA -->
         <div class="footer-middle">
            <div class="container">
               <div class="row">
                  <div class="col-sm-12 col-md-6  col-lg-4">
                     <div id="twr_descctviption_widget-2">
                        <div class="poket-descctviption-area">
                           <a href="#"><img src="assets/images/cctv/logo2.png" alt="image" /></a>
                           <p>A monthly digest of the latest news and venen is urna resources. our clinic was created to ma your smile beautiful, healthy and snow-white. venenatis urna resources.</p>
                           <p class="phone"><a href="tel: "> </a></p>
                           <div class="social-icons">
                              <a class="facebook" href="#"><i class="icofont-facebook"></i></a>
                              <a class="twitter" href="#"><i class="icofont-x"></i></a>
                              <a class="Pinterest" href="#"><i class="icofont-pinterest"></i></a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-12 col-md-6  col-lg-2">
                     <div class="widget widget_nav_menu">
                        <h2 class="widget-title">Partnership</h2>
                        <div class="menu-useful-links-container">
                           <ul class="menu">
                              <li><a href="#">Referral Partners</a></li>
                              <li><a href="#">Space Services</a></li>
                              <li><a href="#">Landlords</a></li>
                              <li><a href="#">Refer a Friend</a></li>
                              <li><a href="#">Event planners</a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-12 col-md-6  col-lg-3">
                     <div>
                        <div class="single-widget-item">
                           <h2 class="widget-title">Recent Post</h2>
                           <div class="recent-post-item">
                              <div class="recent-post-image">
                                 <a href="#"><img src="assets/images/cctv/f1.jpg" alt="image" /></a>
                              </div>
                              <div class="recent-post-text">
                                 <h4><a href="#"> Solar Windows Could be For the Future </a></h4>
                                 <span class="rcomment">January 1, 2024</span>
                              </div>
                           </div>
                           <div class="recent-post-item">
                              <div class="recent-post-image">
                                 <a href="#"><img src="assets/images/cctv/f2.jpg" alt="image" /></a>
                              </div>
                              <div class="recent-post-text">
                                 <h4><a href="#"> Reasons Why is Important to install CCTV </a> </h4>
                                 <span class="rcomment">January 1, 2024</span>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-12 col-md-6  col-lg-3">
                     <div id="text-2" class="widget widget_text">
                        <h2 class="widget-title">Contact Us</h2>
                        <div class="textwidget">
                           <div>
                              <form>
                                 <div class="twr_footer_contact">
                                    <div class="row">
                                       <div class="col-lg-12">
                                          <div class="twr_form_box">
                                             <p>Sing up now for wekly news and our updates now</p>
                                             <p><span><input type="email" name="email" size="40" placeholder="Email Address"></span></p>
                                          </div>
                                       </div>
                                       <div class="col-lg-12"> <button type="submit" class="btn btn-primary">Send Message</button></div>
                                    </div>
                                 </div>
                              </form>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- END FOOTER MIDDLE AREA -->
         <!-- FOOTER BOTTOM AREA -->
         <div class="footer-bottom">
            <div class="container">
               <div class="row">
                  <div class="col-lg-6 col-md-6  col-sm-12">
                     <div class="copy-right-text">
                        <p>Copyright &copy; poket all rights reserved.</p>
                     </div>
                  </div>
                  <div class="col-lg-6 col-md-6  col-sm-12">
                     <div class="footer-menu text-right">
                        <ul>
                           <li><a href="#">About</a></li>
                           <li><a href="#">Pricing</a></li>
                           <li><a href="#">Contact</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Include All JS -->
      <script src="assets/js/vendor/jquery-3.5.1.min.js"></script>
      <script src="assets/js/bootstrap.min.js"></script>
      <script src="assets/js/isotope.pkgd.min.js"></script>
      <script src="assets/js/owl.carousel.min.js"></script>
      <script src="assets/js/jquery.nivo.slider.pack.js"></script>
      <script src="assets/js/slick.min.js"></script>
      <script src="assets/js/imagesloaded.pkgd.min.js"></script>
      <script src="venobox/venobox.min.js"></script>
      <script src="assets/js/jquery.appear.js"></script>
      <script src="assets/js/jquery.knob.js"></script>
      <script src="assets/js/BeerSlider.js"></script>
      <script src="assets/js/theme-pluginjs.js"></script>
      <script src="assets/js/jquery.meanmenu.js"></script>
      <script src="assets/js/ajax-mail.js"></script>		
      <script src="assets/js/theme.js"></script>
   </body>
</html>