<!DOCTYPE html>
<html lang="en-US">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="x-ua-compatible" content="ie=edge" />
      <title>Poket – Fuel Station, Gas Pump & Oill Website Template</title>
      <meta name="description" content="" />
      <meta name="viewport" content="wicorporateh=device-wicorporateh, initial-scale=1" />
      <!-- Favicon Icon -->
      <link rel="icon"  type="image/png" href="assets/images/favicon.png">
      <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css" />
      <link rel="stylesheet" type="text/css" href="venobox/venobox.css" />
      <link rel="stylesheet" type="text/css" href="assets/css/plugin_theme_css.css" />
      <link rel="stylesheet" type="text/css" href="style.css"/>
      <link rel="stylesheet" type="text/css" href="assets/css/allcss/oill_style.css" />
      <link rel="stylesheet" type="text/css" href="assets/css/allcss/responsive/responsive.css"/>
      <link rel="stylesheet" type="text/css" href="assets/css/allcss/responsive/oill-responsive.css" />
      <!-- modernizr js -->
      <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
   </head>
   <body>
      <div class="em40_header_area_main">
         <div class="poket-header-top">
            <div class="container">
               <div class="row">
                  <div class="col-xs-12 col-lg-8 col-md-12 col-sm-12">
                     <div class="top-address text-left text_m_center">
                        <p> 
                           <span> 
                           <i class="icofont-google-map"></i>Welcome To Our Colza, We Are Professional &amp; Established Company. <a href="#">Need Any Help ?</a>
                           </span>
                        </p>
                     </div>
                  </div>
                  <div class="col-xs-12 col-lg-4 col-md-12 col-sm-12">
                     <div class="top-right-menu">
                        <ul class="social-icons text-right text_m_center">
                           <li><a href="#">Book a Wash</a></li>
                           <li><a href="#">Book a Detailing</a></li>
                           <li><a href="#">Contact</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="poket_header_top_two top_oill_style3 top_crt_style">
            <div class="container">
               <div class="row">
                  <div class="col-xl-4 col-lg-12 col-sm-12 d_md_none col-md-6">
                     <div class="theme_oill_logo">
                        <div class="logo">
                           <a class="main_sticky_main_l" href="oill.html" title="poket">
                           <img src="assets/images/oill/logo1.png" alt="poket" />
                           </a>
                           <a class="main_sticky_l" href="oill.html" title="poket">
                           <img src="assets/images/oill/logo1.png" alt="poket" />
                           </a>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-sm-12  col-md-6">
                     <div class="single_header_address">
                        <div class="creative_header_icon"><i class="icofont-google-map"></i></div>
                        <div class="creative_header_address_text">
                           <h3>Our Address</h3>
                           <p>St New York, NY 10013</p>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-sm-12  col-md-6">
                     <div class="single_header_address">
                        <div class="creative_header_icon"> <i class="icofont-stock-mobile"></i></div>
                        <div class="creative_header_address_text">
                           <h3>Our Phone</h3>
                           <p><a href="#">+99 458 698 984 582</a></p>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-2 col-lg-4 col-sm-12  col-md-12">
                     <div class="tx_menuc_btn text_m_center"> <a class="top-btn-color tx_mc_btn" href="#"> Quick Service </a></div>
                  </div>
               </div>
            </div>
         </div>
         <!-- END HEADER TOP AREA -->
         <div class="poket-main-menu one_page hidden-xs hidden-sm witr_h_h10">
            <div class="poket_nav_area scroll_fixed postfix">
               <div class="container">
                  <div class="row">
                     <!-- MAIN MENU -->
                     <div class="col-md-12">
                        <div class="tx_mmenu_together">
                           <nav class="poket_menu">
                              <ul class="sub-menu">
                                 <li class="menu-item-has-children">
                                    <a href="#">Home</a>
                                    <ul class="sub-menu">
                                       <li><a href="oill.html">Home Page</a></li>
                                       <li><a href="oill-video-page.html">Home Video Page</a></li>
                                    </ul>
                                 </li>
                                 <li><a href="oill-about.html">About</a></li>
                                 <li class="menu-item-has-children">
                                    <a href="#">Service</a>
                                    <ul class="sub-menu">
                                       <li><a href="oill-service.html">Service</a></li>
                                       <li><a href="oill-heavy-equipment.html">Heavy Equipment</a></li>
                                       <li><a href="oill-underground-mining.html">Underground Mining</a></li>
                                       <li><a href="oill-coal-mining-machine.html">Coal Mining Machine</a></li>
                                       <li><a href="oill-extraction-worker.html">Extraction Worker</a></li>
                                       <li><a href="oill-mining-exploration.html">Mining & Exploration</a></li>
                                    </ul>
                                 </li>
                                 <li class="menu-item-has-children">
                                    <a href="#">Pages</a>
                                    <ul class="sub-menu">
                                       <li><a href="oill-team.html">Team</a></li>
                                       <li><a href="oill-pricing.html">Pricing</a></li>
                                       <li><a href="oill-portfolio.html">Portfolio</a></li>
                                       <li><a href="oill-faq.html">Faq</a></li>
                                       <li><a href="oill-our-clients.html">Our Clients</a></li>
                                       <li><a href="oill-progress-bar.html">Progress Bar</a></li>
                                    </ul>
                                 </li>
                                 <li class="menu-item-has-children">
                                    <a href="#">Blog</a>
                                    <ul class="sub-menu">
                                       <li><a href="oill-blog.html">Blog Gird</a></li>
                                       <li><a href="oill-blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                       <li><a href="oill-blog-right-sidebar.html">Blog Right Sidebar</a></li>
                                    </ul>
                                 </li>
                                 <li><a href="oill-contact.html">Contact</a></li>
                              </ul>
                           </nav>
                           <!-- right sideber popup area -->
                           <div class="menu_popup_option">
                              <div class="right_popupmenu_area">
                                 <div class="right_side_icon">
                                    <div class="right_sideber_menu">
                                       <i class="icofont-navigation-menu openclass"></i>
                                    </div>
                                 </div>
                                 <!--SEARCH FORM-->
                                 <div class="right_sideber_menu_inner">
                                    <div class="right_sideber_content">
                                       <div class="blog-left-side widget">
                                          <div id="search-3" class="widget widget_search">
                                             <div class="defaultsearch">
                                                <form action="#" method="get">
                                                   <input type="text" name="s" value="" placeholder="Search" title="Search for:"> 
                                                   <button type="submit" class="icons"> <i class="icofont-search-2"></i> </button>
                                                </form>
                                             </div>
                                          </div>
                                          <div id="categories-4" class="widget widget_categories">
                                             <h2 class="widget-title">Categories</h2>
                                             <ul>
                                                <li><a href="#">business</a></li>
                                                <li><a href="#">Management</a></li>
                                                <li><a href="#">Marketing</a></li>
                                                <li><a href="#">May 12, 2024</a></li>
                                                <li><a href="#">Uncategorized</a></li>
                                             </ul>
                                          </div>
                                          <div id="calendar-2" class="widget widget_calendar">
                                             <div id="calendar_wrap" class="calendar_wrap">
                                                <table id="wp-calendar" class="wp-calendar-table">
                                                   <caption>
                                                      February 2024
                                                   </caption>
                                                   <thead>
                                                      <tr>
                                                         <th scope="col" title="Monday">M</th>
                                                         <th scope="col" title="Tuesday">T</th>
                                                         <th scope="col" title="Wednesday">W</th>
                                                         <th scope="col" title="Thursday">T</th>
                                                         <th scope="col" title="Friday">F</th>
                                                         <th scope="col" title="Saturday">S</th>
                                                         <th scope="col" title="Sunday">S</th>
                                                      </tr>
                                                   </thead>
                                                   <tbody>
                                                      <tr>
                                                         <td colspan="1" class="pad">&nbsp;</td>
                                                         <td>1</td>
                                                         <td>2</td>
                                                         <td>3</td>
                                                         <td>4</td>
                                                         <td>5</td>
                                                         <td>6</td>
                                                      </tr>
                                                      <tr>
                                                         <td>7</td>
                                                         <td>8</td>
                                                         <td>9</td>
                                                         <td>10</td>
                                                         <td>11</td>
                                                         <td>12</td>
                                                         <td>13</td>
                                                      </tr>
                                                      <tr>
                                                         <td>14</td>
                                                         <td>15</td>
                                                         <td>16</td>
                                                         <td>17</td>
                                                         <td>18</td>
                                                         <td>19</td>
                                                         <td>20</td>
                                                      </tr>
                                                      <tr>
                                                         <td>21</td>
                                                         <td>22</td>
                                                         <td>23</td>
                                                         <td>24</td>
                                                         <td>25</td>
                                                         <td>26</td>
                                                         <td>27</td>
                                                      </tr>
                                                      <tr>
                                                         <td id="today">28</td>
                                                         <td class="pad" colspan="6">&nbsp;</td>
                                                      </tr>
                                                   </tbody>
                                                </table>
                                                <nav aria-label="Previous and next months" class="wp-calendar-nav">
                                                   <span class="wp-calendar-nav-prev"><a href="#">« Aug</a></span>
                                                   <span class="pad">&nbsp;</span>
                                                   <span class="wp-calendar-nav-next">&nbsp;</span>
                                                </nav>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="right_side_icon right_close_class">
                                          <div class="right_sideber_menu">
                                             <i class="icofont-close-line-squared closeclass"></i>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <!-- end right sideber popup area -->
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- MOBILE MENU Logo AREA -->
      <div class="mobile_logo_area hidden-md hidden-lg">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <div class="mobile_menu_logo text-center">
                     <a href="oill.html" title="poket">
                     <img src="assets/images/oill/logo1.png" alt="poket" />
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- MOBILE MENU AREA -->
      <div class="home-2 mbm hidden-md hidden-lg header_area main-menu-area">
         <div class="menu_area mobile-menu">
            <nav class="poket_menu">
               <ul class="sub-menu">
					<li class="menu-item-has-children">
						<a href="#">Home</a>
						<ul class="sub-menu">
						   <li><a href="oill.html">Home Page</a></li>
						   <li><a href="oill-video-page.html">Home Video Page</a></li>
						</ul>
					</li>
					<li><a href="oill-about.html">About</a></li>
					<li class="menu-item-has-children">
						<a href="#">Service</a>
						<ul class="sub-menu">
						   <li><a href="oill-service.html">Service</a></li>
						   <li><a href="oill-heavy-equipment.html">Heavy Equipment</a></li>
						   <li><a href="oill-underground-mining.html">Underground Mining</a></li>
						   <li><a href="oill-coal-mining-machine.html">Coal Mining Machine</a></li>
						   <li><a href="oill-extraction-worker.html">Extraction Worker</a></li>
						   <li><a href="oill-mining-exploration.html">Mining & Exploration</a></li>
						</ul>
					</li>
					<li class="menu-item-has-children">
						<a href="#">Pages</a>
						<ul class="sub-menu">
						   <li><a href="oill-team.html">Team</a></li>
						   <li><a href="oill-pricing.html">Pricing</a></li>
						   <li><a href="oill-portfolio.html">Portfolio</a></li>
						   <li><a href="oill-faq.html">Faq</a></li>
						   <li><a href="oill-our-clients.html">Our Clients</a></li>
						   <li><a href="oill-progress-bar.html">Progress Bar</a></li>
						</ul>
					</li>
					<li class="menu-item-has-children">
						<a href="#">Blog</a>
						<ul class="sub-menu">
						   <li><a href="oill-blog.html">Blog Gird</a></li>
						   <li><a href="oill-blog-left-sidebar.html">Blog Left Sidebar</a></li>
						   <li><a href="oill-blog-right-sidebar.html">Blog Right Sidebar</a></li>
						</ul>
					</li>
					<li><a href="oill-contact.html">Contact</a></li>
				</ul>
            </nav>
         </div>
      </div>
      <!-- END MOBILE MENU AREA  -->
      <!-- breadcumb area -->
      <div class="breadcumb-area">
         <div class="container">
            <div class="row">
               <div class="col-md-12 txtc  text-center ccase">
                  <div class="brpt">
                     <h2>Blog</h2>
                  </div>
                  <div class="breadcumb-inner">
                     <ul>
                        <li>You are currently here! <i class="icofont-thin-right"></i> </li>
                        <li><a href="#" rel="v:url" property="v:title">Home</a></li>
                        <li><i class="icofont-thin-right"></i></li>
                        <li><span class="current">Blog</span></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- End breadcumb area -->
      <!-- blog area -->
      <div class="oill_blog_area">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <div class="witr_section_title">
                     <div class="witr_section_title_inner text-center">
                        <h2>Our Blog &amp; Event</h2>
                        <h3>we are there for you to achieve</h3>
                        <h1>higher growth.</h1>
                     </div>
                  </div>
                  <div class="witr_blog_area13 witr_blog_area14">
                     <div class="blog_wrap blog_active">
                        <!-- single blog -->
                        <div class="witr_all_mb_30 col-md-12 col-xs-12 col-sm-12">
                           <div class="busi_singleBlog">
                              <div class="witr_sb_thumb">
                                 <a href="#">	
                                 <img src="assets/images/oill/blog-05.jpg" alt="image" />
                                 </a>
                                 <div class="witr_top_category">
                                    <ul class="post-categories">
                                       <li><a href="#">May 12, 2024</a></li>
                                    </ul>
                                 </div>
                              </div>
                              <div class="all_blog_color">
                                 <div class="witr_blog_con bs5">
                                    <h2><a href="oill-single-blog.html">Default Interest Rate in Small Loans Now</a></h2>
                                    <p>Our offices are located on the traditional, unced. photo booth stumptown to banksy, elit small batch freegan…</p>
                                    <div class="em-blog-content-area_adn ">
                                       <div class="learn_more_adn">
                                          <a class="learn_btn adnbtn2" href="#">Read More </a>
                                       </div>
                                    </div>
                                    <div class="witr_blog_border"></div>
                                    <span><a href="#"><i class="icofont-user-alt-3"></i> Poket</a></span> 
                                    <span><a href="#"><i class="icofont-ui-clock"></i></a> 01 Jan 2024</span>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- 2 single blog -->
                        <div class="witr_all_mb_30 col-md-12 col-xs-12 col-sm-12">
                           <div class="busi_singleBlog">
                              <div class="witr_sb_thumb">
                                 <a href="#">	
                                 <img src="assets/images/oill/blog-06.jpg" alt="image" />
                                 </a>
                                 <div class="witr_top_category">
                                    <ul class="post-categories">
                                       <li><a href="#">May 12, 2024</a></li>
                                    </ul>
                                 </div>
                              </div>
                              <div class="all_blog_color">
                                 <div class="witr_blog_con bs5">
                                    <h2><a href="oill-single-blog.html">U.S. fund managers trim bank stocks on</a></h2>
                                    <p>Our offices are located on the traditional, unced. photo booth stumptown to banksy, elit small batch freegan…</p>
                                    <div class="em-blog-content-area_adn ">
                                       <div class="learn_more_adn">
                                          <a class="learn_btn adnbtn2" href="#">Read More </a>
                                       </div>
                                    </div>
                                    <div class="witr_blog_border"></div>
                                    <span><a href="#"><i class="icofont-user-alt-3"></i> Poket</a></span> 
                                    <span><a href="#"><i class="icofont-ui-clock"></i></a> 01 Jan 2024</span>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- 3 single blog -->
                        <div class="witr_all_mb_30 col-md-12 col-xs-12 col-sm-12">
                           <div class="busi_singleBlog">
                              <div class="witr_sb_thumb">
                                 <a href="#">	
                                 <img src="assets/images/oill/blog-07.jpg" alt="image" />
                                 </a>
                                 <div class="witr_top_category">
                                    <ul class="post-categories">
                                       <li><a href="#">May 12, 2024</a></li>
                                    </ul>
                                 </div>
                              </div>
                              <div class="all_blog_color">
                                 <div class="witr_blog_con bs5">
                                    <h2><a href="oill-single-blog.html">Within the construction industry as their overdraft</a></h2>
                                    <p>Our offices are located on the traditional, unced. photo booth stumptown to banksy, elit small batch freegan…</p>
                                    <div class="em-blog-content-area_adn ">
                                       <div class="learn_more_adn">
                                          <a class="learn_btn adnbtn2" href="#">Read More </a>
                                       </div>
                                    </div>
                                    <div class="witr_blog_border"></div>
                                    <span><a href="#"><i class="icofont-user-alt-3"></i> Poket</a></span> 
                                    <span><a href="#"><i class="icofont-ui-clock"></i></a> 01 Jan 2024</span>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- 4 single blog -->
                        <div class="witr_all_mb_30 col-md-12 col-xs-12 col-sm-12">
                           <div class="busi_singleBlog">
                              <div class="witr_sb_thumb">
                                 <a href="#">	
                                 <img src="assets/images/oill/blog-08.jpg" alt="image" />
                                 </a>
                                 <div class="witr_top_category">
                                    <ul class="post-categories">
                                       <li><a href="#">May 12, 2024</a></li>
                                    </ul>
                                 </div>
                              </div>
                              <div class="all_blog_color">
                                 <div class="witr_blog_con bs5">
                                    <h2><a href="oill-single-blog.html">Short loin shankle meatball tongue spare ribs</a></h2>
                                    <p>Our offices are located on the traditional, unced. photo booth stumptown to banksy, elit small batch freegan…</p>
                                    <div class="em-blog-content-area_adn ">
                                       <div class="learn_more_adn">
                                          <a class="learn_btn adnbtn2" href="#">Read More </a>
                                       </div>
                                    </div>
                                    <div class="witr_blog_border"></div>
                                    <span><a href="#"><i class="icofont-user-alt-3"></i> Poket</a></span> 
                                    <span><a href="#"><i class="icofont-ui-clock"></i></a> 01 Jan 2024</span>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- footer area -->
      <div class="witrfm_area">
         <!-- FOOTER MIDDLE AREA -->
         <div class="footer-middle">
            <div class="container">
               <div class="row">
                  <div class="col-sm-12 col-md-6 col-lg-3">
                     <div id="twr_description_widget-2">
                        <div class="poket-description-area">
                           <a href="#"><img src="assets/images/oill/logo2.png" alt="image" /></a>
                           <p>There are many variations of pass Lorem Ipsum available there is ut duis vel quis dignissim nulla vel hendrerit maecenas .</p>
                           <p class="phone"><a href="#">Request Call Us (+099) 565 698 65 </a></p>
                           <div class="social-icons">
                              <a class="facebook" href="#"><i class="icofont-facebook"></i></a>
                              <a class="twitter" href="#"><i class="icofont-x"></i></a>
                              <a class="Pinterest" href="#"><i class="icofont-pinterest"></i></a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-12 col-md-6  col-lg-3">
                     <div class="widget widget_nav_menu">
                        <h2 class="widget-title">Our Service</h2>
                        <div class="menu-our-service-container">
                           <ul class="menu">
                              <li><a href="#">Fuel and Hoses</a></li>
                              <li><a href="#">Building Construction</a></li>
                              <li><a href="#">Corporate Tower Study</a></li>
                              <li><a href="#">Corporate Concept</a></li>
                              <li><a href="#">Quality Homes</a></li>
                              <li><a href="#">Modern Building</a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-12 col-md-6  col-lg-3">
                     <div class="widget widget_recent_data">
                        <div class="single-widget-item">
                           <h2 class="widget-title">Recent Post</h2>
                           <!-- single img -->
                           <div class="recent-post-item">
                              <div class="recent-post-image">
                                 <a href="#"> 
                                 <img src="assets/images/oill/blog-08.jpg" alt="image" />
                                 </a>
                              </div>
                              <div class="recent-post-text">
                                 <h4><a href="#"> Short loin shankle meatball tongue spare ribs rump </a></h4>
                                 <span class="rcomment">January 1, 2024</span>
                              </div>
                           </div>
                           <!-- single img -->
                           <div class="recent-post-item">
                              <div class="recent-post-image">
                                 <a href="#"> 
                                 <img src="assets/images/oill/blog-07.jpg" alt="image" />
                                 </a>
                              </div>
                              <div class="recent-post-text">
                                 <h4><a href="#">Default Interest Rate in Small Loans Now is Lowest</a></h4>
                                 <span class="rcomment">January 1, 2024</span>
                              </div>
                           </div>
                           <!-- single img -->
                           <div class="recent-post-item">
                              <div class="recent-post-image">
                                 <a href="#"> 
                                 <img src="assets/images/oill/blog-06.jpg" alt="image" />
                                 </a>
                              </div>
                              <div class="recent-post-text">
                                 <h4><a href="#"> U.S. fund managers trim bank stocks on profit worries </a></h4>
                                 <span class="rcomment">January 1, 2024</span>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-12 col-md-6  col-lg-3">
                     <div class="widget widget_carousel_port_data">
                        <div class="single_carousel_item">
                           <h2 class="widget-title">Success Projects</h2>
                           <div class="carousel-portfolio-area">
                              <div class="witr_footer_carousel footer_image_act">
                                 <!-- single item -->
                                 <div class="recent-portfolio">
                                    <div class="recent-portfolio-image">
                                       <a href="#"> 
                                       <img src="assets/images/oill/blog-08.jpg" alt="image" />
                                       </a>
                                    </div>
                                 </div>
                                 <!-- single item -->
                                 <div class="recent-portfolio">
                                    <div class="recent-portfolio-image">
                                       <a href="#"> 
                                       <img src="assets/images/oill/blog-07.jpg" alt="image" />
                                       </a>
                                    </div>
                                 </div>
                                 <!-- single item -->
                                 <div class="recent-portfolio">
                                    <div class="recent-portfolio-image">
                                       <a href="#"> 
                                       <img src="assets/images/oill/blog-06.jpg" alt="image" />
                                       </a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- END FOOTER MIDDLE AREA -->
         <!-- FOOTER BOTTOM AREA -->
         <div class="footer-bottom">
            <div class="container">
               <div class="row">
                  <div class="col-lg-6 col-md-6  col-sm-12">
                     <div class="copy-right-text">
                        <p> Copyright &copy; poket all rights reserved.</p>
                     </div>
                  </div>
                  <div class="col-lg-6 col-md-6  col-sm-12">
                     <div class="footer-menu">
                        <ul class="text-right">
                           <li ><a href="#">About</a></li>
                           <li ><a href="#">Contact</a></li>
                           <li ><a href="#">Pricing</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Include All JS -->
      <script src="assets/js/vendor/jquery-3.5.1.min.js"></script>
      <script src="assets/js/bootstrap.min.js"></script>
      <script src="assets/js/isotope.pkgd.min.js"></script>
      <script src="assets/js/owl.carousel.min.js"></script>
      <script src="assets/js/jquery.nivo.slider.pack.js"></script>
      <script src="assets/js/slick.min.js"></script>
      <script src="assets/js/imagesloaded.pkgd.min.js"></script>
      <script src="venobox/venobox.min.js"></script>
      <script src="assets/js/jquery.appear.js"></script>
      <script src="assets/js/jquery.knob.js"></script>
      <script src="assets/js/BeerSlider.js"></script>
      <script src="assets/js/theme-pluginjs.js"></script>
      <script src="assets/js/jquery.meanmenu.js"></script>
      <script src="assets/js/ajax-mail.js"></script>
      <script src="assets/js/theme.js"></script>
   </body>
</html>