<!DOCTYPE HTML>
<html lang="en-US">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>Poket – Printing Services Website Template </title>
      <meta name="Description" content="">
      <meta name="viewport" content="wicorporateh=device-wicorporateh, initial-scale=1">
      <!-- Favicon Icon -->
      <link rel="icon"  type="image/png" href="assets/images/favicon.png">
      <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css"/>
      <link rel="stylesheet" type="text/css" href="venobox/venobox.css"/>
      <link rel="stylesheet" type="text/css" href="assets/css/plugin_theme_css.css"/>
      <link rel="stylesheet" type="text/css" href="style.css"/>
      <link rel="stylesheet" type="text/css" href="assets/css/allcss/printing_style.css"/>
      <link rel="stylesheet" type="text/css" href="assets/css/allcss/responsive/responsive.css"/>
      <link rel="stylesheet" type="text/css" href="assets/css/allcss/responsive/printing-responsive.css"/>
      <!-- modernizr js -->	
      <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
   </head>
   <body>
      <div class="em40_header_area_main">
         <div class="poket-header-top">
            <div class="container">
               <div class="row">
                  <div class="col-xs-12 col-lg-8 col-xl-8 col-md-9 col-sm-12">
                     <div class="top-address text-left">
                        <p>
                           <span><i class="icofont-home"></i>Printing Floor World.</span>
                           <a href="tel:+998556778345"> <i class="icofont-ui-call"></i>998 556 77834</a>
                           <a href="mailto:demo@example.com"> <i class="icofont-envelope"></i>demo@example.com </a>
                        </p>
                     </div>
                  </div>
                  <!-- TOP RIGHT -->
                  <div class="col-xs-12 col-lg-4 col-xl-4 col-md-3 col-sm-12">
                     <div class="top-right-menu">
                        <ul class="social-icons text-right text_m_center">
                           <li><a class="facebook social-icon" href="#"><i class="icofont-facebook"></i></a></li>
                           <li><a href="#"><i class="icofont-x"></i></a></li>
                           <li><a href="#"><i class="icofont-instagram"></i></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- END HEADER TOP AREA -->
         <div class="poket-main-menu one_page hidden-xs hidden-sm  witr_h_h10">
            <div class="poket_nav_area scroll_fixed postfix">
               <div class="container">
                  <div class="row logo-left">
                     <div class="col-md-3 col-sm-3 col-xs-4">
                        <div class="logo">
                           <a class="main_sticky_main_l" href="printing.html" title="poket">
                           <img src="assets/images/printing/logo1.png" alt="poket">
                           </a>
                           <a class="main_sticky_l" href="printing.html" title="poket">
                           <img src="assets/images/printing/logo2.png" alt="poket">
                           </a>
                        </div>
                     </div>
                     <!-- MAIN MENU -->
                     <div class="col-md-9 col-sm-9 col-xs-8">
                        <div class="tx_mmenu_together">
                           <nav class="poket_menu">
                              <ul class="sub-menu">
                                 <li class="menu-item-has-children">
                                    <a href="#">Home</a>
                                    <ul class="sub-menu">
                                       <li><a href="printing.html">Home Page</a></li>
                                       <li><a href="printing-video-page.html">Home Video Page</a></li>
                                    </ul>
                                 </li>
                                 <li class="menu-item-has-children">
                                    <a href="#">About</a>
                                    <ul class="sub-menu">
                                       <li><a href="printing-about.html">About</a></li>
                                       <li><a href="printing-vision.html">Vision</a></li>
                                       <li><a href="printing-history.html">History</a></li>
                                       <li><a href="printing-mision.html">Mission</a></li>
                                    </ul>
                                 </li>
                                 <li class="menu-item-has-children">
                                    <a href="#">Service</a>
                                    <ul class="sub-menu">
                                       <li><a href="printing-service.html">Service</a></li>
                                       <li><a href="printing-bibliography.html">Bibliography</a></li>
                                       <li><a href="printing-service-point.html">Service Point</a></li>
                                       <li><a href="printing-single-service.html">Single Service</a></li>
                                       <li><a href="printing-people.html">People</a></li>
                                       <li><a href="printing-media.html">Media</a></li>
                                    </ul>
                                 </li>
                                 <li class="menu-item-has-children">
                                    <a href="#">Pages</a>
                                    <ul class="sub-menu">
                                       <li><a href="printing-team.html">Team</a></li>
                                       <li><a href="printing-pricing-plan.html">Pricing Plan</a></li>
                                       <li><a href="printing-portfolio.html">Portfolio</a></li>
                                       <li><a href="printing-privacy-policy.html">Privacy Policy</a></li>
                                       <li><a href="printing-offer.html">Offer</a></li>
                                       <li><a href="printing-single-offer.html">Single Offer</a></li>
                                       <li><a href="printing-faq.html">Faq</a></li>
                                       <li><a href="printing-clients.html">Our Clients</a></li>
                                    </ul>
                                 </li>
                                 <li class="menu-item-has-children">
                                    <a href="#">Blog</a>
                                    <ul class="sub-menu">
                                       <li><a href="printing-blog.html">Blog Gird</a></li>
                                       <li><a href="printing-blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                       <li><a href="printing-blog-right-sidebar.html">Blog Right Sidebar</a></li>
                                    </ul>
                                 </li>
                                 <li class="menu-item-has-children">
                                    <a href="#">Contact</a>
                                    <ul class="sub-menu">
                                       <li><a href="printing-contact.html">Contact</a></li>
                                       <li><a href="printing-contact2.html">Contact 2</a></li>
                                       <li><a href="printing-contact3.html">Contact 3</a></li>
                                    </ul>
                                 </li>
                              </ul>
                           </nav>
                           <div class="main-search-menu">
                              <div class="em-quearys-top msin-menu-search">
                                 <div class="em-top-quearys-area">
                                    <div class="em-header-quearys">
                                       <div class="em-quearys-menu">
                                          <i class="icofont-search-2 t-quearys"></i>
                                       </div>
                                    </div>
                                    <!--SEARCH FORM-->
                                    <div class="em-quearys-inner">
                                       <div class="em-quearys-form">
                                          <form class="top-form-control" action="#" method="get">
                                             <input type="text" placeholder="Type Your Keyword" name="s" value="">
                                             <button class="top-quearys-style" type="submit">
                                             <i class="icofont-long-arrow-right"></i>
                                             </button>
                                          </form>
                                          <div class="em-header-quearys-close text-center mrt10">
                                             <div class="em-quearys-menu">
                                                <i class="fa fa-close t-close em-s-hidden"></i>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- MOBILE MENU Logo AREA -->
      <div class="mobile_logo_area hidden-md hidden-lg">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <div class="mobile_menu_logo text-center">
                     <a href="printing.html" title="poket">
                     <img src="assets/images/printing/logo1.png" alt="poket">
                     </a>		
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- MOBILE MENU AREA -->
      <div class="home-2 mbm hidden-md hidden-lg  header_area main-menu-area">
         <div class="menu_area mobile-menu">
            <nav class="poket_menu">
               <ul class="sub-menu">
				 <li class="menu-item-has-children">
					<a href="#">Home</a>
					<ul class="sub-menu">
					   <li><a href="printing.html">Home Page</a></li>
					   <li><a href="printing-video-page.html">Home Video Page</a></li>
					</ul>
				 </li>
				 <li class="menu-item-has-children">
					<a href="#">About</a>
					<ul class="sub-menu">
					   <li><a href="printing-about.html">About</a></li>
					   <li><a href="printing-vision.html">Vision</a></li>
					   <li><a href="printing-history.html">History</a></li>
					   <li><a href="printing-mision.html">Mission</a></li>
					</ul>
				 </li>
				 <li class="menu-item-has-children">
					<a href="#">Service</a>
					<ul class="sub-menu">
					   <li><a href="printing-service.html">Service</a></li>
					   <li><a href="printing-bibliography.html">Bibliography</a></li>
					   <li><a href="printing-service-point.html">Service Point</a></li>
					   <li><a href="printing-single-service.html">Single Service</a></li>
					   <li><a href="printing-people.html">People</a></li>
					   <li><a href="printing-media.html">Media</a></li>
					</ul>
				 </li>
				 <li class="menu-item-has-children">
					<a href="#">Pages</a>
					<ul class="sub-menu">
					   <li><a href="printing-team.html">Team</a></li>
					   <li><a href="printing-pricing-plan.html">Pricing Plan</a></li>
					   <li><a href="printing-portfolio.html">Portfolio</a></li>
					   <li><a href="printing-privacy-policy.html">Privacy Policy</a></li>
					   <li><a href="printing-offer.html">Offer</a></li>
					   <li><a href="printing-single-offer.html">Single Offer</a></li>
					   <li><a href="printing-faq.html">Faq</a></li>
					   <li><a href="printing-clients.html">Our Clients</a></li>
					</ul>
				 </li>
				 <li class="menu-item-has-children">
					<a href="#">Blog</a>
					<ul class="sub-menu">
					   <li><a href="printing-blog.html">Blog Gird</a></li>
					   <li><a href="printing-blog-left-sidebar.html">Blog Left Sidebar</a></li>
					   <li><a href="printing-blog-right-sidebar.html">Blog Right Sidebar</a></li>
					</ul>
				 </li>
				 <li class="menu-item-has-children">
					<a href="#">Contact</a>
					<ul class="sub-menu">
					   <li><a href="printing-contact.html">Contact</a></li>
					   <li><a href="printing-contact2.html">Contact 2</a></li>
					   <li><a href="printing-contact3.html">Contact 3</a></li>
					</ul>
				 </li>
			  </ul>
            </nav>
         </div>
      </div>
      <!-- END MOBILE MENU AREA  -->
      <!-- breadcumb area -->
      <div class="breadcumb-area">
         <div class="container">
            <div class="row">
               <div class="col-md-12 txtc  text-center ccase">
                  <div class="brpt">
                     <h2>Contact 2</h2>
                  </div>
                  <div class="breadcumb-inner">
                     <ul>
                        <li>You are currently here! <i class="icofont-thin-right"></i> </li>
                        <li><a href="#" rel="v:url" property="v:title">Home</a></li>
                        <li><i class="icofont-thin-right"></i></li>
                        <li><span class="current">Contact 2</span></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- End breadcumb area -->
      <!-- contact area -->
      <div class="contact_area2 contact2_area">
         <div class="container">
            <div class="row contact_inner">
               <div class="col-lg-6 col-md-6">
                  <div class="contact2_service_inner">
                     <div class="em-service2 sleft all_color_service">
                        <div class="em_service_content ">
                           <div class="em_single_service_text">
                              <div class="text_box witr_s_flex">
                                 <div class="service_top_text all_icon_color">
                                    <div class="em-service-icon">
                                       <i class="fas fa-address-card"></i>
                                    </div>
                                 </div>
                                 <div class="em-service-inner">
                                    <div class="em-service-title">
                                       <h3>ADDRESS</h3>
                                    </div>
                                    <div class="em-service-desc">
                                       <p>Mulatol Pakar Matha, Dhaka Bus Stand Road, 5400, Bangladesh <br> Phone: +88-02-55560025, 9863251, 8817545, <br> Mobile:  01780264414-15 <br> Fax:  +88-02 9862226</p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- sigle item -->
                     <div class="em-service2 sleft all_color_service">
                        <div class="em_service_content ">
                           <div class="em_single_service_text  ">
                              <div class="text_box witr_s_flex">
                                 <div class="service_top_text all_icon_color">
                                    <div class="em-service-icon">
                                       <i class="fas fa-address-card"></i>
                                    </div>
                                 </div>
                                 <div class="em-service-inner">
                                    <div class="em-service-title">
                                       <h3>ADDRESS 2</h3>
                                    </div>
                                    <div class="em-service-desc">
                                       <p>Mulatol Pakar Matha, Dhaka Bus Stand Road, 5400, Bangladesh <br> Phone: +88-02-55260025, 9852251, 8817525, <br> Mobile:  01780364414-16 <br> Fax:  +88-02 9882226</p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-6 col-md-6">
                  <div class="apartment_area">
                     <div class="apartment_text">
                        <h1>GET IN TOUCH</h1>
                        <h2>CONTACT FORM</h2>
                     </div>
                     <div class="witr_apartment_form">
                        <form action="mail.php" method="post" id="contact-form">
                           <div class="row">
                              <div class="col-lg-6 col-md-6">
                                 <div class="twr_form_box">
                                    <input type="text" name="name" placeholder="Name*">
                                 </div>
                              </div>
                              <div class="col-lg-6 col-md-6">
                                 <div class="twr_form_box">
                                    <input type="email" name="email" placeholder="Email*">
                                 </div>
                              </div>
                              <div class="col-lg-6 col-md-6">
                                 <div class="twr_form_box">
                                    <input type="number" name="number" placeholder="Phone*">
                                 </div>
                              </div>
                              <div class="col-lg-6 col-md-6">
                                 <div class="twr_form_box">
                                    <input type="text" name="subject" placeholder="Subject*">
                                 </div>
                              </div>
                              <div class="col-lg-12 col-md-12">
                                 <div class="twr_form_box ">
                                    <textarea name="comment" placeholder="Comments/Message"></textarea>
                                 </div>
                              </div>
                              <div class="col-lg-12 col-md-12">
                                 <div class="contact_page_button text-center">
                                    <button type="submit" name="ok" class="btn ">Send Message</button>
                                 </div>
                              </div>
                              <div class="col-lg-12 text-center">
                                 <p class="form-messege"></p>
                              </div>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- map area -->
      <div class="map_area">
         <div class="container-fluid witr_all_pd0">
            <div class="row map_inner_area">
               <div class="col-lg-12">
                  <iframe src="https://maps.google.com/maps?q=webitrangpur&amp;t=m&amp;z=10&amp;output=embed&amp;iwloc=near" title="webitrangpur"></iframe>
               </div>
            </div>
         </div>
      </div>
      <!-- footer area -->
      <div class="witrfm_area">
         <!-- FOOTER MIDDLE AREA -->
         <div class="footer-middle">
            <div class="container">
               <div class="row">
                  <div class="col-sm-12 col-md-6  col-lg-3">
                     <div class="footer_content_inner">
                        <div class="poket-desprintingiption-area">
                           <a href="#"><img src="assets/images/printing/logo2.png" alt="image" /></a>
                           <p>Round whitefish flat loach potted killifish ronquil. Long-finned pike escolar northern pike escolar nor thern squawfish eel.</p>
                           <p class="phone"><a href="#"> </a></p>
                           <div class="social-icons">
                              <a class="facebook" href="#"><i class="icofont-facebook"></i></a>
                              <a class="twitter" href="#"><i class="icofont-x"></i></a>
                              <a class="Pinterest" href="#"><i class="icofont-linkedin"></i></a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-12 col-md-6  col-lg-3">
                     <div class="widget widget_nav_menu">
                        <h2 class="widget-title">Useful Links</h2>
                        <div class="menu-useful-links-container">
                           <ul class="menu">
                              <li><a href="#">Who We Are</a></li>
                              <li><a href="#">How We Help</a></li>
                              <li><a href="#">Core Values</a></li>
                              <li><a href="#">Differently Abled</a></li>
                              <li><a href="#">Careers</a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-12 col-md-6  col-lg-3">
                     <div id="em_recent_post_widget-2">
                        <div class="single-widget-item">
                           <h2 class="widget-title">Recent Post</h2>
                           <div class="recent-post-item">
                              <div class="recent-post-image">
                                 <a href="#"><img src="assets/images/printing/f1.jpg" alt="image" /></a>
                              </div>
                              <div class="recent-post-text">
                                 <h4><a href="#"> Inspiring design trends rious  this fall </a></h4>
                                 <span class="rcomment">June 10, 2024</span>
                              </div>
                           </div>
                           <div class="recent-post-item">
                              <div class="recent-post-image">
                                 <a href="#"><img src="assets/images/printing/f2.jpg" alt="image" /></a>
                              </div>
                              <div class="recent-post-text">
                                 <h4><a href="#"> How we built big yellow tunnel in LA </a></h4>
                                 <span class="rcomment">June 10, 2024</span>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-12 col-md-6  col-lg-3">
                     <div class="widget widget_nav_menu">
                        <h2 class="widget-title">Campaigns</h2>
                        <div class="menu-useful-links-container">
                           <ul class="menu">
                              <li><a href="#">Our Stories</a></li>
                              <li><a href="#">Become A Volunteer</a></li>
                              <li><a href="#">Testimonials</a></li>
                              <li><a href="#">Upcoming Events</a></li>
                              <li><a href="#">Photo Gallery</a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- END FOOTER MIDDLE AREA -->
         <!-- FOOTER BOTTOM AREA -->
         <div class="footer-bottom">
            <div class="container">
               <div class="row">
                  <div class="col-lg-6 col-md-6  col-sm-12">
                     <div class="copy-right-text">
                        <p>Copyright &copy; poket all rights reserved.</p>
                     </div>
                  </div>
                  <div class="col-lg-6 col-md-6  col-sm-12">
                     <div class="footer-menu text-right">
                        <ul>
                           <li><a href="#">Privacy Policy</a></li>
                           <li><a href="#">Contact</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Include All JS -->
      <script src="assets/js/vendor/jquery-3.5.1.min.js"></script>
      <script src="assets/js/bootstrap.min.js"></script>
      <script src="assets/js/isotope.pkgd.min.js"></script>
      <script src="assets/js/owl.carousel.min.js"></script>
      <script src="assets/js/jquery.nivo.slider.pack.js"></script>
      <script src="assets/js/slick.min.js"></script>
      <script src="assets/js/imagesloaded.pkgd.min.js"></script>
      <script src="venobox/venobox.min.js"></script>
      <script src="assets/js/jquery.appear.js"></script>
      <script src="assets/js/jquery.knob.js"></script>
      <script src="assets/js/BeerSlider.js"></script>
      <script src="assets/js/theme-pluginjs.js"></script>
      <script src="assets/js/jquery.meanmenu.js"></script>
      <script src="assets/js/ajax-mail.js"></script>		
      <script src="assets/js/theme.js"></script>
   </body>
</html>