<!DOCTYPE html>
<html lang="en-US">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="x-ua-compatible" content="ie=edge" />
      <title>Poket – SEO Responsive Website Template</title>
      <meta name="description" content="" />
      <meta name="viewport" content="wicorporateh=device-wicorporateh, initial-scale=1" />
      <!-- Favicon Icon -->
      <link rel="icon" type="image/png" href="assets/images/favicon.png" />
      <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css" />
      <link rel="stylesheet" type="text/css" href="venobox/venobox.css" />
      <link rel="stylesheet" type="text/css" href="assets/css/plugin_theme_css.css" />
      <link rel="stylesheet" type="text/css" href="style.css"/>
      <link rel="stylesheet" type="text/css" href="assets/css/allcss/seo_style.css" />
      <link rel="stylesheet" type="text/css" href="assets/css/allcss/responsive/responsive.css"/>
      <link rel="stylesheet" type="text/css" href="assets/css/allcss/responsive/seo-responsive.css" />
      <!-- modernizr js -->
      <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
   </head>
   <body>
      <div class="em40_header_area_main all_header_abs ">
         <!-- END HEADER TOP AREA -->
         <div class="poket-main-menu hidden-xs hidden-sm transprent-menu heading_style_4 witr_h_h2">
            <div class="trp_nav_area">
               <div class="container">
                  <div class="row logo-left">
                     <div class="col-md-3 col-sm-3 col-xs-4">
                        <div class="logo">
                           <a class="main_sticky_main_l" href="seo.html" title="poket">
                           <img src="assets/images/seo/logo1.png" alt="poket">
                           </a>
                           <a class="main_sticky_l" href="seo.html" title="poket">
                           <img src="assets/images/seo/logo1.png" alt="poket">
                           </a>
                        </div>
                     </div>
                     <!-- MAIN MENU -->
                     <div class="col-md-9 col-sm-9 col-xs-8">
                        <div class="tx_mmenu_together">
                           <nav class="poket_menu">
                              <ul class="sub-menu">
                                 <li class="menu-item-has-children">
                                    <a href="#">Home</a>
                                    <ul class="sub-menu">
                                       <li><a href="seo.html">Home</a></li>
                                       <li><a href="seo-one-page.html">Home One Page</a></li>
                                       <li><a href="seo-video-page.html">Home Video Page</a></li>
                                    </ul>
                                 </li>
                                 <li><a href="seo-about.html">About</a></li>
                                 <li><a href="seo-service.html">Service</a></li>
                                 <li class="menu-item-has-children">
                                    <a href="#">Page</a>
                                    <ul class="sub-menu">
                                       <li><a href="seo-team.html">Team</a></li>
                                       <li><a href="seo-faq.html">Faq</a></li>
                                       <li class="menu-item-has-children">
                                          <a href="#">Portfolio</a>
                                          <ul class="sub-menu">
                                             <li><a href="seo-portfolio-3column.html">Portfolio 3Column</a></li>
                                             <li><a href="seo-portfolio-3column-full.html">Portfolio 3Column Full</a></li>
                                             <li><a href="seo-portfolio-4column.html">Portfolio 4Column</a></li>
                                             <li><a href="seo-portfolio-4column-full.html">Portfolio 4Column Full</a></li>
                                          </ul>
                                       </li>
                                    </ul>
                                 </li>
                                 <li class="menu-item-has-children">
                                    <a href="#">Blog</a>
                                    <ul class="sub-menu">
                                       <li><a href="seo-blog.html">Blog Gird</a></li>
                                       <li><a href="seo-blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                       <li><a href="seo-blog-right-sidebar.html">Blog Right Sidebar</a></li>
                                    </ul>
                                 </li>
                                 <li><a href="seo-contact.html">Contact</a></li>
                              </ul>
                           </nav>
                           <!-- menu button -->
                           <div class="donate-btn-header"> 
                              <a class="dtbtn" href="#"> Get In Touch </a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- MOBILE MENU Logo AREA -->
      <div class="mobile_logo_area hidden-md hidden-lg">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <div class="mobile_menu_logo text-center">
                     <a href="seo.html" title="poket">
                     <img src="assets/images/seo/logo1.png" alt="poket" />
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- MOBILE MENU AREA -->
      <div class="home-2 mbm hidden-md hidden-lg header_area main-menu-area">
         <div class="menu_area mobile-menu">
            <nav class="poket_menu">
               <ul class="sub-menu">
					<li class="menu-item-has-children">
						<a href="#">Home</a>
						<ul class="sub-menu">
						   <li><a href="seo.html">Home</a></li>
						   <li><a href="seo-one-page.html">Home One Page</a></li>
						   <li><a href="seo-video-page.html">Home Video Page</a></li>
						</ul>
					</li>
					<li><a href="seo-about.html">About</a></li>
					<li><a href="seo-service.html">Service</a></li>
					<li class="menu-item-has-children">
						<a href="#">Page</a>
						<ul class="sub-menu">
						   <li><a href="seo-team.html">Team</a></li>
						   <li><a href="seo-faq.html">Faq</a></li>
						   <li class="menu-item-has-children">
							  <a href="#">Portfolio</a>
							  <ul class="sub-menu">
								 <li><a href="seo-portfolio-3column.html">Portfolio 3Column</a></li>
								 <li><a href="seo-portfolio-3column-full.html">Portfolio 3Column Full</a></li>
								 <li><a href="seo-portfolio-4column.html">Portfolio 4Column</a></li>
								 <li><a href="seo-portfolio-4column-full.html">Portfolio 4Column Full</a></li>
							  </ul>
						   </li>
						</ul>
					</li>
					<li class="menu-item-has-children">
						<a href="#">Blog</a>
						<ul class="sub-menu">
						   <li><a href="seo-blog.html">Blog Gird</a></li>
						   <li><a href="seo-blog-left-sidebar.html">Blog Left Sidebar</a></li>
						   <li><a href="seo-blog-right-sidebar.html">Blog Right Sidebar</a></li>
						</ul>
					</li>
					<li><a href="seo-contact.html">Contact</a></li>
				</ul>
            </nav>
         </div>
      </div>
      <!-- END MOBILE MENU AREA  -->
      <!-- breadcumb area -->
      <div class="breadcumb-area">
         <div class="container">
            <div class="row">
               <div class="col-md-12 txtc  text-center ccase">
                  <div class="brpt">
                     <h2>Team</h2>
                  </div>
                  <div class="breadcumb-inner">
                     <ul>
                        <li>Currently Here! <i class="icofont-thin-right"></i> </li>
                        <li><a href="#" rel="v:url" property="v:title">Home</a></li>
                        <li><i class="icofont-thin-right"></i></li>
                        <li><span class="current">Team</span></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- End breadcumb area -->
      <!-- team area -->
      <div class="seo_team_area team_page_team_area">
         <div class="container-fluid">
            <div class="row">
               <div class="col-lg-12">
                  <div class="witr_section_title">
                     <div class="witr_section_title_inner text-center">
                        <h2>WHAT WE DO</h2>
                        <h3>Best Solutions for Our Clients</h3>
                     </div>
                  </div>
               </div>
               <!-- single team -->
               <div class="col-lg-3 col-md-6">
                  <div class=" witr_team_15n all_color_team ">
                     <div class="witr_team_thumb15">
                        <img src="assets/images/seo/team-01.jpg" alt="image" />
                        <div class="team_top_icon all_team_icon_o_color">
                           <ul>
                              <li> 
                                 <a href="#"> <i class="icofont-facebook"></i> </a> 
                                 <a href="#"> <i class="icofont-x"></i> </a> 
                                 <a href="#"> <i class="icofont-tumblr"></i> </a> 
                                 <a href="#"> <i class="icofont-vimeo"></i> </a>
                              </li>
                           </ul>
                        </div>
                        <div class="team_bottom_icon all_team_s_color"> 
                           <a href="#"> <i class="fas fa-share-alt"></i> </a>
                        </div>
                     </div>
                     <div class="witr_team_content15 all_content_bg_color">
                        <h5><a href="#">Robert Cooper</a></h5>
                        <span>Founder </span>
                     </div>
                  </div>
               </div>
               <!-- 2 single team -->
               <div class="col-lg-3 col-md-6">
                  <div class=" witr_team_15n all_color_team ">
                     <div class="witr_team_thumb15">
                        <img src="assets/images/seo/team-02.jpg" alt="image" />
                        <div class="team_top_icon all_team_icon_o_color">
                           <ul>
                              <li> 
                                 <a href="#"> <i class="icofont-facebook"></i> </a> 
                                 <a href="#"> <i class="icofont-x"></i> </a> 
                                 <a href="#"> <i class="icofont-tumblr"></i> </a> 
                                 <a href="#"> <i class="icofont-vimeo"></i> </a>
                              </li>
                           </ul>
                        </div>
                        <div class="team_bottom_icon all_team_s_color"> 
                           <a href="#"> <i class="fas fa-share-alt"></i> </a>
                        </div>
                     </div>
                     <div class="witr_team_content15 all_content_bg_color">
                        <h5><a href="#">Nicolas Poran</a></h5>
                        <span>SEO Manegment</span>
                     </div>
                  </div>
               </div>
               <!-- 3 single team -->
               <div class="col-lg-3 col-md-6">
                  <div class=" witr_team_15n all_color_team ">
                     <div class="witr_team_thumb15">
                        <img src="assets/images/seo/team-03.jpg" alt="image" />
                        <div class="team_top_icon all_team_icon_o_color">
                           <ul>
                              <li> 
                                 <a href="#"> <i class="icofont-facebook"></i> </a> 
                                 <a href="#"> <i class="icofont-x"></i> </a> 
                                 <a href="#"> <i class="icofont-tumblr"></i> </a> 
                                 <a href="#"> <i class="icofont-vimeo"></i> </a>
                              </li>
                           </ul>
                        </div>
                        <div class="team_bottom_icon all_team_s_color"> 
                           <a href="#"> <i class="fas fa-share-alt"></i> </a>
                        </div>
                     </div>
                     <div class="witr_team_content15 all_content_bg_color">
                        <h5><a href="#">Marisa Frontier</a></h5>
                        <span>Manegment</span>
                     </div>
                  </div>
               </div>
               <!-- 4 single team -->
               <div class="col-lg-3 col-md-6">
                  <div class=" witr_team_15n all_color_team ">
                     <div class="witr_team_thumb15">
                        <img src="assets/images/seo/team-04.jpg" alt="image" />
                        <div class="team_top_icon all_team_icon_o_color">
                           <ul>
                              <li> 
                                 <a href="#"> <i class="icofont-facebook"></i> </a> 
                                 <a href="#"> <i class="icofont-x"></i> </a> 
                                 <a href="#"> <i class="icofont-tumblr"></i> </a> 
                                 <a href="#"> <i class="icofont-vimeo"></i> </a>
                              </li>
                           </ul>
                        </div>
                        <div class="team_bottom_icon all_team_s_color"> 
                           <a href="#"> <i class="fas fa-share-alt"></i> </a>
                        </div>
                     </div>
                     <div class="witr_team_content15 all_content_bg_color">
                        <h5><a href="#">Tones Brown</a></h5>
                        <span>Devlopment</span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- footer area -->
      <div class="witrfm_area">
         <!-- FOOTER MIDDLE AREA -->
         <div class="footer-middle">
            <div class="container">
               <div class="row">
                  <div class="col-sm-12 col-md-6  col-lg-3">
                     <div id="twr_description_widget-2">
                        <div class="poket-description-area">
                           <a href="#"><img src="assets/images/seo/logo2.png" alt="image" /></a>
                           <p>The online specialist can develop a digital plan to help you grow marketing.</p>
                           <p class="phone"><a href="#"> </a></p>
                           <div class="social-icons">
                              <a class="facebook" href="#"><i class="icofont-facebook"></i></a>
                              <a class="twitter" href="#"><i class="icofont-x"></i></a>
                              <a class="twitter" href="#"><i class="icofont-rss"></i></a>
                              <a class="Pinterest" href="#"><i class="icofont-linkedin"></i></a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-12 col-md-6  col-lg-3">
                     <div class="widget widget_nav_menu">
                        <h2 class="widget-title">Service Link</h2>
                        <div class="menu-useful-links-container">
                           <ul class="menu">
                              <li><a href="#">SEO for Small Business</a></li>
                              <li><a href="#">SEO for Local Services</a></li>
                              <li><a href="#">Enterprise SEO</a></li>
                              <li><a href="#">International SEO</a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-12 col-md-6  col-lg-3">
                     <div id="about_us-widget-1" class="widget about_us">
                        <h2 class="widget-title">Address</h2>
                        <div class="about-footer">
                           <div class="footer-widget address">
                              <div class="footer-logo"></div>
                              <div class="footer-address">
                                 <div class="footer_s_inner">
                                    <div class="footer-sociala-icon"> <i class="icofont-google-map"></i></div>
                                    <div class="footer-sociala-info">
                                       <p>8565 Manina Avenue Street NY 91335, United States</p>
                                    </div>
                                 </div>
                                 <div class="footer_s_inner">
                                    <div class="footer-sociala-icon"> <i class="icofont-phone"></i></div>
                                    <div class="footer-sociala-info">
                                       <p>Phone: (305) 720-8500</p>
                                    </div>
                                 </div>
                                 <div class="footer_s_inner">
                                    <div class="footer-sociala-icon"> <i class="icofont-envelope-open"></i></div>
                                    <div class="footer-sociala-info">
                                       <p>demo@example.com</p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-12 col-md-6  col-lg-3">
                     <div class="widget widget_nav_menu">
                        <h2 class="widget-title">Quick Links</h2>
                        <div class="menu-useful-links-container">
                           <ul class="menu">
                              <li><a href="#">Our Product</a></li>
                              <li><a href="#">Documentation</a></li>
                              <li><a href="#">Our Services</a></li>
                              <li><a href="#">What We Do?</a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- END FOOTER MIDDLE AREA -->
         <!-- FOOTER BOTTOM AREA -->
         <div class="footer-bottom">
            <div class="container">
               <div class="row">
                  <div class="col-lg-6 col-md-6  col-sm-12">
                     <div class="copy-right-text">
                        <p> Copyright &copy; poket all rights reserved.</p>
                     </div>
                  </div>
                  <div class="col-lg-6 col-md-6  col-sm-12">
                     <div class="footer-menu">
                        <ul class="text-right">
                           <li ><a href="#">About</a></li>
                           <li ><a href="#">Service</a></li>
                           <li ><a href="#">Contact</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Include All JS -->
      <script src="assets/js/vendor/jquery-3.5.1.min.js"></script>
      <script src="assets/js/bootstrap.min.js"></script>
      <script src="assets/js/isotope.pkgd.min.js"></script>
      <script src="assets/js/owl.carousel.min.js"></script>
      <script src="assets/js/jquery.nivo.slider.pack.js"></script>
      <script src="assets/js/slick.min.js"></script>
      <script src="assets/js/imagesloaded.pkgd.min.js"></script>
      <script src="venobox/venobox.min.js"></script>
      <script src="assets/js/jquery.appear.js"></script>
      <script src="assets/js/jquery.knob.js"></script>
      <script src="assets/js/BeerSlider.js"></script>
      <script src="assets/js/theme-pluginjs.js"></script>
      <script src="assets/js/jquery.meanmenu.js"></script>
      <script src="assets/js/ajax-mail.js"></script>
      <script src="assets/js/theme.js"></script>
   </body>
</html>