<!DOCTYPE html>
<html lang="en-US">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="x-ua-compatible" content="ie=edge" />
      <title>Poket – Solar Panel Responsive Website Template</title>
      <meta name="description" content="" />
      <meta name="viewport" content="wicorporateh=device-wicorporateh, initial-scale=1" />
      <!-- Favicon Icon -->
      <link rel="icon" type="image/png" href="assets/images/favicon.png" />
      <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css" />
      <link rel="stylesheet" type="text/css" href="venobox/venobox.css" />
      <link rel="stylesheet" type="text/css" href="assets/css/plugin_theme_css.css" />
      <link rel="stylesheet" type="text/css" href="style.css"/>
      <link rel="stylesheet" type="text/css" href="assets/css/allcss/solar_style.css" />
      <link rel="stylesheet" type="text/css" href="assets/css/allcss/responsive/responsive.css"/>
      <link rel="stylesheet" type="text/css" href="assets/css/allcss/responsive/solar-responsive.css" />
      <!-- modernizr js -->
      <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
   </head>
   <body>
      <div class="em40_header_area_main">
         <div class="poket-header-top   ">
            <div class="container">
               <div class="row">
                  <div class="col-xs-12 col-lg-7 col-xl-8 col-md-12 col-sm-12">
                     <div class="top-address text-left">
                        <p>							
                           <span><i class="icofont-home"></i>92 Bowery St New York, NY 10013</span>
                           <a href="#"><i class="icofont-envelope"></i>Email:demo@example.com </a>
                        </p>
                     </div>
                  </div>
                  <!-- TOP RIGHT -->
                  <div class="col-xs-12 col-lg-5 col-xl-4 col-md-12 col-sm-12 ">
                     <div class="top-right-menu">
                        <ul class="social-icons text-right text_m_center top-address">
                           <li> <i class="icofont-clock-time"></i> Open hours: 9.00-24.00 Mon-Sat</li>
                           <li><a href="#"><i class="icofont-facebook"></i></a></li>
                           <li><a href="#"><i class="icofont-x"></i></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- END HEADER TOP AREA -->
         <div class="poket-main-menu one_page hidden-xs hidden-sm  witr_h_h10">
            <div class="poket_nav_area scroll_fixed postfix">
               <div class="container">
                  <div class="row logo-left">
                     <div class="col-md-3 col-sm-3 col-xs-4">
                        <div class="logo">
                           <a class="main_sticky_main_l" href="solar.html" title="poket">
                           <img src="assets/images/solar/logo1.png" alt="poket">
                           </a>
                           <a class="main_sticky_l" href="solar.html" title="poket">
                           <img src="assets/images/solar/logo1.png" alt="poket">
                           </a>
                        </div>
                     </div>
                     <!-- MAIN MENU -->
                     <div class="col-md-9 col-sm-9 col-xs-8">
                        <div class="tx_mmenu_together">
                           <nav class="poket_menu">
                              <ul class="sub-menu">
                                 <li class="menu-item-has-children">
                                    <a href="#">Home</a>
                                    <ul class="sub-menu">
                                       <li><a href="solar.html">Home Main Page</a></li>
                                       <li><a href="solar-video-page.html">Home Video Page</a></li>
                                       <li><a href="solar-landing-page.html">Landing Page</a></li>
                                    </ul>
                                 </li>
                                 <li class="menu-item-has-children">
                                    <a href="#">About</a>
                                    <ul class="sub-menu">
                                       <li><a href="solar-about.html">About</a></li>
                                       <li><a href="solar-counter.html">Country</a></li>
                                       <li><a href="solar-team.html">Team</a></li>
                                       <li><a href="solar-faq.html">Faq</a></li>
                                       <li><a href="solar-pricing.html">Pricing</a></li>
                                       <li><a href="solar-site-map.html">Site Map</a></li>
                                       <li><a href="solar-testimonial.html">Testimonial</a></li>
                                    </ul>
                                 </li>
                                 <li class="menu-item-has-children">
                                    <a href="#">Service</a>
                                    <ul class="sub-menu">
                                       <li>
                                          <a href="solar-service.html">Service</a>
                                          <ul class="sub-menu">
                                             <li><a href="solar-single-service.html">Single Service</a></li>
                                          </ul>
                                       </li>
                                       <li><a href="solar-military-products.html">Military Products</a></li>
                                       <li><a href="solar-energy-studies.html">Energy Studies</a></li>
                                       <li><a href="solar-quality-panels.html">Quality Solar Panels</a></li>
                                       <li><a href="solar-commercial-equipment.html">Commercial Equipment</a></li>
                                       <li><a href="solar-wind-power-installtion.html">Wind Power Installation</a></li>
                                       <li><a href="solar-innovation-research.html">Innovation And Research</a></li>
                                    </ul>
                                 </li>
                                 <li class="menu-item-has-children">
                                    <a href="#">Portfolio</a>
                                    <ul class="sub-menu">
                                       <li><a href="solar-portfolio-3column.html">Portfolio 3Column</a></li>
                                       <li><a href="solar-portfolio-4column.html">Portfolio 4Column</a></li>
									   <li><a href="solar-single-portfolio.html">Single Portfolio</a></li>
                                    </ul>
                                 </li>
                                 <li class="menu-item-has-children">
                                    <a href="#">Blog</a>
                                    <ul class="sub-menu">
                                       <li><a href="solar-blog.html">Blog Gird</a></li>
                                       <li><a href="solar-blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                       <li><a href="solar-blog-right-sidebar.html">Blog Right Sidebar</a></li>
                                    </ul>
                                 </li>
                                 <li><a href="solar-contact.html">Contact</a></li>
                              </ul>
                           </nav>
                           <div class="main-search-menu">
                              <div class="em-quearys-top msin-menu-search">
                                 <div class="em-top-quearys-area">
                                    <div class="em-header-quearys">
                                       <div class="em-quearys-menu">
                                          <i class="icofont-search-2 t-quearys"></i>
                                       </div>
                                    </div>
                                    <!--SEARCH FORM-->
                                    <div class="em-quearys-inner">
                                       <div class="em-quearys-form">
                                          <form class="top-form-control" action="#" method="get">
                                             <input type="text" placeholder="Type Your Keyword" name="s" value="">
                                             <button class="top-quearys-style" type="submit">
                                             <i class="icofont-long-arrow-right"></i>
                                             </button>
                                          </form>
                                          <div class="em-header-quearys-close text-center mrt10">
                                             <div class="em-quearys-menu">
                                                <i class="icofont-close-line t-close"></i>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <!-- menu button -->
                           <div class="donate-btn-header">
                              <a class="dtbtn" href="#">  Request Now </a>	
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- MOBILE MENU Logo AREA -->
      <div class="mobile_logo_area hidden-md hidden-lg">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <div class="mobile_menu_logo text-center">
                     <a href="solar.html" title="poket">
                     <img src="assets/images/solar/logo1.png" alt="poket" />
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- MOBILE MENU AREA -->
      <div class="home-2 mbm hidden-md hidden-lg header_area main-menu-area">
         <div class="menu_area mobile-menu">
            <nav class="poket_menu">
               <ul class="sub-menu">
					<li class="menu-item-has-children">
						<a href="#">Home</a>
						<ul class="sub-menu">
						   <li><a href="solar.html">Home Main Page</a></li>
						   <li><a href="solar-video-page.html">Home Video Page</a></li>
						   <li><a href="solar-landing-page.html">Landing Page</a></li>
						</ul>
					</li>
					<li class="menu-item-has-children">
						<a href="#">About</a>
						<ul class="sub-menu">
						   <li><a href="solar-about.html">About</a></li>
						   <li><a href="solar-counter.html">Country</a></li>
						   <li><a href="solar-team.html">Team</a></li>
						   <li><a href="solar-faq.html">Faq</a></li>
						   <li><a href="solar-pricing.html">Pricing</a></li>
						   <li><a href="solar-site-map.html">Site Map</a></li>
						   <li><a href="solar-testimonial.html">Testimonial</a></li>
						</ul>
					</li>
					<li class="menu-item-has-children">
						<a href="#">Service</a>
						<ul class="sub-menu">
						   <li>
							  <a href="solar-service.html">Service</a>
							  <ul class="sub-menu">
								 <li><a href="solar-single-service.html">Single Service</a></li>
							  </ul>
						   </li>
						   <li><a href="solar-military-products.html">Military Products</a></li>
						   <li><a href="solar-energy-studies.html">Energy Studies</a></li>
						   <li><a href="solar-quality-panels.html">Quality Solar Panels</a></li>
						   <li><a href="solar-commercial-equipment.html">Commercial Equipment</a></li>
						   <li><a href="solar-wind-power-installtion.html">Wind Power Installation</a></li>
						   <li><a href="solar-innovation-research.html">Innovation And Research</a></li>
						</ul>
					</li>
					<li class="menu-item-has-children">
						<a href="#">Portfolio</a>
						<ul class="sub-menu">
						   <li><a href="solar-portfolio-3column.html">Portfolio 3Column</a></li>
						   <li><a href="solar-portfolio-4column.html">Portfolio 4Column</a></li>
						   <li><a href="solar-single-portfolio.html">Single Portfolio</a></li>
						</ul>
					</li>
					<li class="menu-item-has-children">
						<a href="#">Blog</a>
						<ul class="sub-menu">
						   <li><a href="solar-blog.html">Blog Gird</a></li>
						   <li><a href="solar-blog-left-sidebar.html">Blog Left Sidebar</a></li>
						   <li><a href="solar-blog-right-sidebar.html">Blog Right Sidebar</a></li>
						</ul>
					</li>
					<li><a href="solar-contact.html">Contact</a></li>
				</ul>
            </nav>
         </div>
      </div>
      <!-- END MOBILE MENU AREA  -->
      <!-- breadcumb area -->
      <div class="breadcumb-area">
         <div class="container">
            <div class="row">
               <div class="col-md-12 txtc  text-center ccase">
                  <div class="brpt">
                     <h2>Wind Power Installation</h2>
                  </div>
                  <div class="breadcumb-inner">
                     <ul>
                        <li>You are currently here! <i class="icofont-thin-right"></i> </li>
                        <li><a href="#" rel="v:url" property="v:title">Home</a></li>
                        <li><i class="icofont-thin-right"></i></li>
                        <li><span class="current">Wind Power Installation</span></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- End breadcumb area -->
      <!-- video area -->
      <div class="energy_studies_video_area wind_power_video_area">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <div class="col-lg-12">
                     <div class="witr_play_vi witr_all_color_v">
                        <div  class="witr_videobg_image">
                           <img src="assets/images/solar/nz5.jpg" alt="image"/>
                           <div class="play-overlay ">
                              <a class="video-popup video-vemo-icon venobox vbox-item" data-vbtype="youtube" data-autoplay="true" href="https://www.youtube.com/watch?v=XHOmBV4js_E">
                              <i class="icofont-ui-play"></i>						
                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- military products service area -->
      <div class="military_products_service">
         <div class="container">
            <div class="row">
               <div class="col-lg-4 col-md-4">
                  <div class="departmentList all_list_color">
                     <h3>OUR SERVICE</h3>
                     <ul>
                        <li> <span> <i class="fas fa-angle-double-right"></i> List Title One </span></li>
                        <li> <span> <i class="fas fa-angle-double-right"></i> List Title Two </span></li>
                        <li> <span> <i class="fas fa-angle-double-right"></i> List Title Three </span></li>
                     </ul>
                  </div>
               </div>
               <div class="col-lg-8 col-md-8">
                  <div class="accordion_area faq_area2">
                     <div class="faq-part">
                        <div id="accordion">
                           <div class="card card-2">
                              <div class="card-header witr_ac_card">
                                 <a href="#" class=" witr_ac_style collapsed" data-bs-toggle="collapse" data-bs-target="#collapse_e514ff7">
                                 <i class="fas fa-check-circle"></i> Proven expertise and industry leading service quality 
                                 </a>
                              </div>
                              <div id="collapse_e514ff7" class="ac_s_padding collapse" data-parent="#accordion" style="">
                                 <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don’t look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn’t anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat&nbsp;</p>
                              </div>
                           </div>
                           <!-- card -->
                           <div class="card card-2">
                              <div class="card-header witr_ac_card">
                                 <a href="#" class=" witr_ac_style" data-bs-toggle="collapse" data-bs-target="#collapse_5265e2a">
                                 <i class="far fa-check-circle"></i> Compliance with the latest regulatory requirements 
                                 </a>
                              </div>
                              <div id="collapse_5265e2a" class="collapse ac_s_padding  " data-parent="#accordion">
                                 <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don’t look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn’t anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat&nbsp;</p>
                              </div>
                           </div>
                           <!-- card -->
                           <div class="card card-2">
                              <div class="card-header witr_ac_card">
                                 <a href="#" class=" witr_ac_style" data-bs-toggle="collapse" data-bs-target="#collapse_ef588e8">
                                 <i class="far fa-check-circle"></i> Minimized downtime and reduced operating costs 
                                 </a>
                              </div>
                              <div id="collapse_ef588e8" class="collapse ac_s_padding  " data-parent="#accordion">
                                 <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don’t look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn’t anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat&nbsp;</p>
                              </div>
                           </div>
                           <!-- card -->
                           <div class="card card-2">
                              <div class="card-header witr_ac_card">
                                 <a href="#" class=" witr_ac_style" data-bs-toggle="collapse" data-bs-target="#collapse_cc0016e">
                                 <i class="far fa-check-circle"></i> Serving Professional Services Offering 
                                 </a>
                              </div>
                              <div id="collapse_cc0016e" class="collapse ac_s_padding  " data-parent="#accordion">
                                 <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don’t look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn’t anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat&nbsp;</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class=" single_service_area military_products_area wind_power_service">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <img src="assets/images/solar/nz11.jpg" alt="image" />
                  <div class="witr_section_title">
                     <div class="em_right_section_title">
                        <h1>Wind Power Installation</h1>
                        <h2>Serving Professional Services Offering</h2>
                     </div>
                  </div>
               </div>
               <div class="col-lg-12">
                  <div class="witr_text_widget">
                     <div class="witr_text_widget_inner">
                        <div class="about-content">
                           <span>
                           <i class="fas fa-check"></i>
                           24/7 Support & Maintenance<br>
                           </span>
                        </div>
                        <div class="about-content">
                           <span>
                           <i class="fas fa-check"></i>
                           Wind Power Installation<br>
                           </span>
                        </div>
                        <div class="about-content">
                           <span>
                           <i class="fas fa-check"></i>							
                           Market Trades & Stock<br>
                           </span>
                        </div>
                        <div class="about-content">
                           <span>
                           <i class="fas fa-check"></i>
                           Solar Panels Installation<br>
                           </span>
                        </div>
                        <div class="about-content">
                           <span>
                           <i class="fas fa-check"></i>
                           Solar Technology<br>
                           </span>
                        </div>
                        <div class="military_products_content">
                           <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don’t look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn’t anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin </p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- footer area -->
      <div class="witrfm_area">
         <!-- FOOTER MIDDLE AREA -->
         <div class="footer-middle">
            <div class="container">
               <div class="row">
                  <div class="col-sm-12 col-md-6 col-lg-3">
                     <div id="twr_description_widget-2">
                        <div class="poket-description-area">
                           <a href="#"><img src="assets/images/solar/logo2.png" alt="image" /></a>
                           <p>These cases are perfectly imple and easy to distinguish. In a free hour, our power.</p>
                           <div class="social-icons">
                              <a class="facebook" href="#"><i class="icofont-facebook"></i></a>
                              <a class="twitter" href="#"><i class="icofont-x"></i></a>
                              <a class="Pinterest" href="#"><i class="icofont-pinterest"></i></a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-12 col-md-6  col-lg-3">
                     <div class="widget widget_nav_menu">
                        <h2 class="widget-title">Service</h2>
                        <div class="menu-our-service-container">
                           <ul class="menu">
                              <li><a href="#">Solar Panel Installing</a></li>
                              <li><a href="#">Military Products</a></li>
                              <li><a href="#">Solar Technology</a></li>
                              <li><a href="#">Energy Studies</a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-12 col-md-6  col-lg-3">
                     <div class="widget widget_recent_data">
                        <div class="single-widget-item">
                           <h2 class="widget-title">Recent Post</h2>
                           <!-- single img -->
                           <div class="recent-post-item">
                              <div class="recent-post-image">
                                 <a href="#"> 
                                 <img src="assets/images/solar/f1.jpg" alt="image" />
                                 </a>
                              </div>
                              <div class="recent-post-text">
                                 <h4><a href="#">Why Manufacturers Are Chain Turning to Supply</a></h4>
                                 <span class="rcomment">January 1, 2024</span>
                              </div>
                           </div>
                           <!-- single img -->
                           <div class="recent-post-item">
                              <div class="recent-post-image">
                                 <a href="#"> 
                                 <img src="assets/images/solar/f2.jpg" alt="image" />
                                 </a>
                              </div>
                              <div class="recent-post-text">
                                 <h4><a href="#">Energy Of Direction For This Of Solar Materials </a></h4>
                                 <span class="rcomment">January 1, 2024</span>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-12 col-md-6  col-lg-3">
                     <div class="widget about_us">
                        <h2 class="widget-title">Contact Us</h2>
                        <!-- About Widget -->
                        <div class="about-footer">
                           <div class="footer-widget address">
                              <div class="footer-address">
                                 <div class="footer_s_inner">
                                    <div class="footer-sociala-icon"> <i class="icofont-google-map"></i></div>
                                    <div class="footer-sociala-info">
                                       <p>Peterson Street Kingston USA</p>
                                    </div>
                                 </div>
                                 <div class="footer_s_inner">
                                    <div class="footer-sociala-icon"> <i class="icofont-phone"></i></div>
                                    <div class="footer-sociala-info">
                                       <p>+69 1123-2234-32</p>
                                    </div>
                                 </div>
                                 <div class="footer_s_inner">
                                    <div class="footer-sociala-icon"> <i class="icofont-envelope-open"></i></div>
                                    <div class="footer-sociala-info">
                                       <p>example@example.com</p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="widget_text widget widget_custom_html">
                        <div class="textwidget custom-html-widget">
                           <div class="mc4wp-form-fields">
                              <p> <input type="email" name="email" placeholder="Enter your email"> <button type="submit" value="Subscribe"> <span>Send</span> </button></p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- END FOOTER MIDDLE AREA -->
         <!-- FOOTER BOTTOM AREA -->
         <div class="footer-bottom">
            <div class="container">
               <div class="row">
                  <div class="col-lg-6 col-md-6  col-sm-12">
                     <div class="copy-right-text">
                        <p> Copyright &copy; poket all rights reserved.</p>
                     </div>
                  </div>
                  <div class="col-lg-6 col-md-6  col-sm-12">
                     <div class="footer-menu">
                        <ul class="text-right">
                           <li ><a href="#">About</a></li>
                           <li ><a href="#">Contact</a></li>
                           <li ><a href="#">Faq</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Include All JS -->
      <script src="assets/js/vendor/jquery-3.5.1.min.js"></script>
      <script src="assets/js/bootstrap.min.js"></script>
      <script src="assets/js/isotope.pkgd.min.js"></script>
      <script src="assets/js/owl.carousel.min.js"></script>
      <script src="assets/js/jquery.nivo.slider.pack.js"></script>
      <script src="assets/js/slick.min.js"></script>
      <script src="assets/js/imagesloaded.pkgd.min.js"></script>
      <script src="venobox/venobox.min.js"></script>
      <script src="assets/js/jquery.appear.js"></script>
      <script src="assets/js/jquery.knob.js"></script>
      <script src="assets/js/BeerSlider.js"></script>
      <script src="assets/js/theme-pluginjs.js"></script>
      <script src="assets/js/jquery.meanmenu.js"></script>
      <script src="assets/js/ajax-mail.js"></script>
      <script src="assets/js/theme.js"></script>
   </body>
</html>