<!DOCTYPE HTML>
<html lang="en-US">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>Poket – Transport Responsive Website Template </title>
      <meta name="Description" content="">
      <meta name="viewport" content="wicorporateh=device-wicorporateh, initial-scale=1">
      <!-- Favicon Icon -->
      <link rel="icon"  type="image/png" href="assets/images/favicon.png">
      <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css"/>
      <link rel="stylesheet" type="text/css" href="venobox/venobox.css"/>
      <link rel="stylesheet" type="text/css" href="assets/css/plugin_theme_css.css"/>
      <link rel="stylesheet" type="text/css" href="style.css"/>
      <link rel="stylesheet" type="text/css" href="assets/css/allcss/transport_style.css"/>
      <link rel="stylesheet" type="text/css" href="assets/css/allcss/responsive/responsive.css"/>
      <link rel="stylesheet" type="text/css" href="assets/css/allcss/responsive/transport-responsive.css"/>
      <!-- modernizr js -->	
      <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
   </head>
   <body>
      <div class="em40_header_area_main">
         <div class="poket-header-top">
            <div class="container">
               <div class="row">
                  <div class="col-xs-12 col-lg-8 col-xl-8 col-md-9 col-sm-12">
                     <div class="top-address text-left">
                        <p>
                           <span> <i class="icofont-location-pin"></i>92 Bowery St., New York, NY 10013</span>
                           <a href="mailto:demo@example.com"> <i class="icofont-envelope"></i>demo@example.com </a>
                        </p>
                     </div>
                  </div>
                  <!-- TOP RIGHT -->
                  <div class="col-xs-12 col-lg-4 col-xl-4 col-md-3 col-sm-12">
                     <div class="top-right-menu">
                        <ul class="social-icons text-right text_m_center">
                           <li><a class="facebook social-icon" href="#"><i class="icofont-facebook"></i></a></li>
                           <li><a class="twitter social-icon" href="#"><i class="icofont-x"></i></a></li>
                           <li><a class="twitter social-icon" href="#"><i class="icofont-instagram"></i></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- END HEADER TOP AREA -->
         <div class="poket-main-menu one_page hidden-xs hidden-sm  witr_h_h10">
            <div class="poket_nav_area scroll_fixed postfix">
               <div class="container">
                  <div class="row logo-left">
                     <div class="col-md-3 col-sm-3 col-xs-4">
                        <div class="logo">
                           <a class="main_sticky_main_l" href="transport.html" title="poket">
                           <img src="assets/images/transport/logo1.png" alt="poket">
                           </a>
                           <a class="main_sticky_l" href="transport.html" title="poket">
                           <img src="assets/images/transport/logo2.png" alt="poket">
                           </a>
                        </div>
                     </div>
                     <!-- MAIN MENU -->
                     <div class="col-md-9 col-sm-9 col-xs-8">
                        <div class="tx_mmenu_together">
                           <nav class="poket_menu">
                              <ul class="sub-menu">
                                 <li class="menu-item-has-children">
                                    <a href="#">Home</a>
                                    <ul class="sub-menu">
                                       <li><a href="transport.html">Home Page</a></li>
                                       <li><a href="transport-landing-page.html">Landing Page</a></li>
                                       <li><a href="transport-video-page.html">Home Video Page</a></li>
                                    </ul>
                                 </li>
                                 <li><a href="transport-about.html">About</a></li>
                                 <li class="menu-item-has-children">
                                    <a href="#">Service</a>
                                    <ul class="sub-menu">
                                       <li><a href="transport-service.html">Service</a></li>
                                       <li><a href="transport-vehicle-service.html">Vehicle Service</a></li>
                                       <li><a href="transport-request-quote.html">Request a Quote</a></li>
                                       <li><a href="transport-track-shipment.html">Track Your Shipment</a></li>
                                       <li><a href="transport-meet-crew.html">Meet The Crew</a></li>
                                       <li><a href="transport-passenger.html">Passenger Transport</a></li>
                                    </ul>
                                 </li>
                                 <li class="menu-item-has-children">
                                    <a href="#">Pages</a>
                                    <ul class="sub-menu">
                                       <li><a href="transport-testimonial.html">Testimonial</a></li>
                                       <li><a href="transport-pricing-table.html">Pricing Table</a></li>
                                       <li><a href="transport-team.html">Team</a></li>
                                       <li><a href="transport-faq-page.html">Faq Page</a></li>
                                       <li class="menu-item-has-children">
                                          <a href="#">Portfolio</a>
                                          <ul class="sub-menu">
                                             <li><a href="transport-portfolio.html">Portfolio Grid</a></li>
                                             <li><a href="transport-portfolio-3column.html">Portfolio 3Column</a></li>
                                             <li><a href="transport-portfolio-4column.html">Portfolio 4Column</a></li>
                                          </ul>
                                       </li>
                                    </ul>
                                 </li>
                                 <li class="menu-item-has-children">
                                    <a href="#">Blog</a>
                                    <ul class="sub-menu">
                                       <li><a href="transport-blog.html">Blog Gird</a></li>
                                       <li><a href="transport-blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                       <li><a href="transport-blog-right-sidebar.html">Blog Right Sidebar</a></li>
                                    </ul>
                                 </li>
                                 <li><a href="transport-contact.html">Contact</a></li>
                              </ul>
                           </nav>
                           <div class="donate-btn-header">
                              <a class="dtbtn" href="#">  Started Now </a>	
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- MOBILE MENU Logo AREA -->
      <div class="mobile_logo_area hidden-md hidden-lg">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <div class="mobile_menu_logo text-center">
                     <a href="transport.html" title="poket">
                     <img src="assets/images/transport/logo1.png" alt="poket">
                     </a>		
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- MOBILE MENU AREA -->
      <div class="home-2 mbm hidden-md hidden-lg  header_area main-menu-area">
         <div class="menu_area mobile-menu">
            <nav class="poket_menu">
				<ul class="sub-menu">
					 <li class="menu-item-has-children">
						<a href="#">Home</a>
						<ul class="sub-menu">
						   <li><a href="transport.html">Home Page</a></li>
						   <li><a href="transport-landing-page.html">Landing Page</a></li>
						   <li><a href="transport-video-page.html">Home Video Page</a></li>
						</ul>
					 </li>
					 <li><a href="transport-about.html">About</a></li>
					 <li class="menu-item-has-children">
						<a href="#">Service</a>
						<ul class="sub-menu">
						   <li><a href="transport-service.html">Service</a></li>
						   <li><a href="transport-vehicle-service.html">Vehicle Service</a></li>
						   <li><a href="transport-request-quote.html">Request a Quote</a></li>
						   <li><a href="transport-track-shipment.html">Track Your Shipment</a></li>
						   <li><a href="transport-meet-crew.html">Meet The Crew</a></li>
						   <li><a href="transport-passenger.html">Passenger Transport</a></li>
						</ul>
					 </li>
					 <li class="menu-item-has-children">
						<a href="#">Pages</a>
						<ul class="sub-menu">
						   <li><a href="transport-testimonial.html">Testimonial</a></li>
						   <li><a href="transport-pricing-table.html">Pricing Table</a></li>
						   <li><a href="transport-team.html">Team</a></li>
						   <li><a href="transport-faq-page.html">Faq Page</a></li>
						   <li class="menu-item-has-children">
							  <a href="#">Portfolio</a>
							  <ul class="sub-menu">
								 <li><a href="transport-portfolio.html">Portfolio Grid</a></li>
								 <li><a href="transport-portfolio-3column.html">Portfolio 3Column</a></li>
								 <li><a href="transport-portfolio-4column.html">Portfolio 4Column</a></li>
							  </ul>
						   </li>
						</ul>
					 </li>
					 <li class="menu-item-has-children">
						<a href="#">Blog</a>
						<ul class="sub-menu">
						   <li><a href="transport-blog.html">Blog Gird</a></li>
						   <li><a href="transport-blog-left-sidebar.html">Blog Left Sidebar</a></li>
						   <li><a href="transport-blog-right-sidebar.html">Blog Right Sidebar</a></li>
						</ul>
					 </li>
					 <li><a href="transport-contact.html">Contact</a></li>
				  </ul>
            </nav>
         </div>
      </div>
      <!-- END MOBILE MENU AREA  -->
      <!-- breadcumb area -->
      <div class="breadcumb-area">
         <div class="container">
            <div class="row">
               <div class="col-md-12 txtc  text-center ccase">
                  <div class="brpt">
                     <h2>Passenger Transport</h2>
                  </div>
                  <div class="breadcumb-inner">
                     <ul>
                        <li>You are currently here! <i class="icofont-thin-right"></i> </li>
                        <li><a href="#" rel="v:url" property="v:title">Home</a></li>
                        <li><i class="icofont-thin-right"></i></li>
                        <li><span class="current">Passenger Transport</span></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- End breadcumb area -->
      <!-- tab area -->
      <div class="transport_tab_area">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <div class="witr_section_title">
                     <div class="witr_section_title_inner text-center">
                        <h2>| HOW WE WORK</h2>
                        <h3>We Aim to Contribute Well to</h3>
                        <h1>Your Company</h1>
                     </div>
                  </div>
                  <div class="witr_adv_tab_area witr_taba_style1 tab_all_colora">
                     <!-- Nav tabs -->
                     <div class="witr_adv_tab_menu">
                        <ul class="nav nav-tabs">
                           <!-- menu 1 -->
                           <li class="nav-item">
                              <a class="nav-link epo-d1c84a1" data-bs-toggle="tab" href="#tx_tab_a00f4131">
                              <span class="witr_tab_icona">
                              <i class="icofont-airplane-alt"></i> 
                              </span>
                              <strong>Warehouse Storage</strong> 
                              </a>
                           </li>
                           <!-- menu 2 -->
                           <li class="nav-item">
                              <a class="nav-link epo-e9333d3 active show" data-bs-toggle="tab" href="#tx_tab_a00f4132">
                              <span class="witr_tab_icona">
                              <i class="icofont-speed-boat"></i>
                              </span>
                              <strong>Transparent Pricing</strong> 
                              </a>
                           </li>
                           <!-- menu 3 -->
                           <li class="nav-item">
                              <a class="nav-link epo-8b0bf16" data-bs-toggle="tab" href="#tx_tab_a00f4133">
                              <span class="witr_tab_icona">
                              <i class="icofont-free-delivery"></i> 
                              </span>
                              <strong>Security For Cargo</strong> 
                              </a>
                           </li>
                        </ul>
                     </div>
                     <!-- Tab panes -->
                     <div class="witr_adv_tab_content witr_tab_content1">
                        <div class="tab-content">
                           <div class="tab-pane fade epo-d1c84a1" id="tx_tab_a00f4131">
                              <div class="row">
                                 <div class="col-lg-6 col-md-6">
                                    <div class="witr_text_widget">
                                       <div class="witr_text_widget_inner">
                                          <h1>Warehouse Storage</h1>
                                          <h2>Comprehensive &amp; Individual
                                             Care For all Patients
                                          </h2>
                                          <p>Transmax ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea consequat. exploit optimal alignments for intuitive business applications</p>
                                          <div class="tab_middle_content">
                                             <p>through revolutionary catalysts for chang the Seamlessly optimal optimal alignments for intuitive inventore veritatis quasi rchitecto dantium veritatis quasi architecto beatae.</p>
                                          </div>
                                          <p></p>
                                          <div class="witr_widget_list">
                                             <ul></ul>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="tab_counter_inner">
                                       <div class="witr_counter_single
                                          all_counter_color">
                                          <div class="witr_counter_img">
                                             <img src="assets/images/transport/tav-icon-02.png" alt="image" />
                                          </div>
                                          <div class="witr_counter_number_inn">
                                             <h3 class="counter">2000</h3>
                                             <span>+</span>
                                             <h4>Satisfied Customers</h4>
                                          </div>
                                       </div>
                                       <div class="witr_counter_single all_counter_color">
                                          <div class="witr_counter_img">
                                             <img src="assets/images/transport/tav-icon-02.png" alt="image" />
                                          </div>
                                          <div class="witr_counter_number_inn">
                                             <h3 class="counter">980</h3>
                                             <span>+</span>
                                             <h4>Delivered Packages</h4>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-lg-6 col-md-6">
                                    <div class="single_image_area">
                                       <div class="single_image single_line_option">
                                          <img src="assets/images/transport/tab-1.jpg" alt="image" />
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="tab-pane fade epo-d1c84a1 active show" id="tx_tab_a00f4132">
                              <div class="row">
                                 <div class="col-lg-6 col-md-6">
                                    <div class="single_image_area">
                                       <div class="single_image single_line_option">
                                          <img src="assets/images/transport/tab-1.jpg" alt="image" />
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-lg-6 col-md-6">
                                    <div class="witr_text_widget">
                                       <div class="witr_text_widget_inner">
                                          <h2>Comprehensive &amp; Individual
                                             Care For all Patients
                                          </h2>
                                          <p>Transmax ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea consequat. exploit optimal alignments for intuitive business applications</p>
                                          <div class="tab_middle_content">
                                             <p>through revolutionary catalysts for chang the Seamlessly optimal optimal alignments for intuitive inventore veritatis quasi rchitecto dantium veritatis quasi architecto beatae.</p>
                                          </div>
                                          <p></p>
                                          <div class="witr_widget_list">
                                             <ul></ul>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="tab_counter_inner">
                                       <div class="witr_counter_single
                                          all_counter_color">
                                          <div class="witr_counter_img">
                                             <img src="assets/images/transport/tav-icon-02.png" alt="image" />
                                          </div>
                                          <div class="witr_counter_number_inn">
                                             <h3 class="counter">2000</h3>
                                             <span>+</span>
                                             <h4>Satisfied Customers</h4>
                                          </div>
                                       </div>
                                       <div class="witr_counter_single all_counter_color">
                                          <div class="witr_counter_img">
                                             <img src="assets/images/transport/tav-icon-02.png" alt="image" />
                                          </div>
                                          <div class="witr_counter_number_inn">
                                             <h3 class="counter">980</h3>
                                             <span>+</span>
                                             <h4>Delivered Packages</h4>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="tab-pane fade epo-d1c84a1" id="tx_tab_a00f4133">
                              <div class="row">
                                 <div class="col-lg-6 col-md-6">
                                    <div class="witr_text_widget">
                                       <div class="witr_text_widget_inner">
                                          <h1>Warehouse Storage</h1>
                                          <h2>Comprehensive &amp; Individual
                                             Care For all Patients
                                          </h2>
                                          <p>Transmax ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea consequat. exploit optimal alignments for intuitive business applications</p>
                                          <div class="tab_middle_content">
                                             <p>through revolutionary catalysts for chang the Seamlessly optimal optimal alignments for intuitive inventore veritatis quasi rchitecto dantium veritatis quasi architecto beatae.</p>
                                          </div>
                                          <p></p>
                                          <div class="witr_widget_list">
                                             <ul></ul>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="tab_counter_inner">
                                       <div class="witr_counter_single
                                          all_counter_color">
                                          <div class="witr_counter_img">
                                             <img src="assets/images/transport/tav-icon-02.png" alt="image" />
                                          </div>
                                          <div class="witr_counter_number_inn">
                                             <h3 class="counter">2000</h3>
                                             <span>+</span>
                                             <h4>Satisfied Customers</h4>
                                          </div>
                                       </div>
                                       <div class="witr_counter_single all_counter_color">
                                          <div class="witr_counter_img">
                                             <img src="assets/images/transport/tav-icon-02.png" alt="image" />
                                          </div>
                                          <div class="witr_counter_number_inn">
                                             <h3 class="counter">980</h3>
                                             <span>+</span>
                                             <h4>Delivered Packages</h4>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-lg-6 col-md-6">
                                    <div class="witr_play_vi witr_all_color_v">
                                       <div class="witr_videobg_image">
                                          <img src="assets/images/transport/tab-1.jpg" alt="image" />
                                          <div class="play-overlay   witr_none_before ">
                                             <a class="tx_svd_icon video-popup video-vemo-icon venobox vbox-item" data-vbtype="youtube" data-autoplay="true" href="https://youtu.be/BS4TUd7FJSg">
                                             <i class="icofont-ui-play"></i> 
                                             </a>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- .portfolio project bg -->
      <div class="project_bg_area">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <div class="witr_section_title">
                     <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-12">
                           <div class="witr_section_title_inner text-left">
                              <h2>| HOW WE WORK</h2>
                              <h3>Let's Checkout our All</h3>
                              <h1>Latest News</h1>
                           </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                           <div class="title_btn text-right"> <a href="#">View Protfolio</a></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- project area -->
      <div class="transport_project_area transport_passenger_page_project">
         <div class="container-fluid">
            <div class="row">
               <div class="col-lg-12">
                  <div class="witr_pslide all_pslides_color ps1">
                     <div class=" creative_pro_active">
                        <!-- project item  -->
                        <div class="item_pos col-lg-12">
                           <div class="witr_single_pslide">
                              <div class="witr_pslide_image"> 
                                 <img src="assets/images/transport/p1.jpg" alt="image" />
                              </div>
                              <div class="witr_content_pslide_text">
                                 <div class="witr_pslide_custom">
                                    <a href="#"><span class="ti-arrow-right"></span></a>
                                 </div>
                                 <div class="witr_content_pslide">
                                    <h3><a href="#">Miranda Halim Family</a></h3>
                                    <p>COUNSALING</p>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- project item 02 -->
                        <div class="item_pos col-lg-12">
                           <div class="witr_single_pslide">
                              <div class="witr_pslide_image"> 
                                 <img src="assets/images/transport/p2.jpg" alt="image" />
                              </div>
                              <div class="witr_content_pslide_text">
                                 <div class="witr_pslide_custom">
                                    <a href="#"><span class="ti-arrow-right"></span></a>
                                 </div>
                                 <div class="witr_content_pslide">
                                    <h3><a href="#">Improve for Business </a></h3>
                                    <p>COUNSALING</p>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- project item 03 -->
                        <div class="item_pos col-lg-12">
                           <div class="witr_single_pslide">
                              <div class="witr_pslide_image"> 
                                 <img src="assets/images/transport/p3.jpg" alt="image" />
                              </div>
                              <div class="witr_content_pslide_text">
                                 <div class="witr_pslide_custom">
                                    <a href="#"><span class="ti-arrow-right"></span></a>
                                 </div>
                                 <div class="witr_content_pslide">
                                    <h3><a href="#">Business and Marketing</a></h3>
                                    <p>COUNSALING</p>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- project item 04 -->
                        <div class="item_pos col-lg-12">
                           <div class="witr_single_pslide">
                              <div class="witr_pslide_image"> 
                                 <img src="assets/images/transport/p2.jpg" alt="image" />
                              </div>
                              <div class="witr_content_pslide_text">
                                 <div class="witr_pslide_custom">
                                    <a href="#"><span class="ti-arrow-right"></span></a>
                                 </div>
                                 <div class="witr_content_pslide">
                                    <h3><a href="#">Miranda Halim Family</a></h3>
                                    <p>COUNSALING</p>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- faq area -->
      <div class="transport_faq_area">
         <div class="container">
            <div class="row">
               <div class="col-lg-6 col-md-6">
                  <div class="faq_img_inner">
                     <div class="single_image_area">
                        <div class="single_image single_line_option  ">
                           <img src="assets/images/transport/faq-thumb-1.jpg" alt="image" />
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-6 col-md-6">
                  <div class="faq_content_inner">
                     <div class="witr_section_title">
                        <div class="witr_section_title_inner text-left">
                           <h2>| HOW WE WORK</h2>
                           <h3>Our Clinic Expert Transprot from New York.</h3>
                        </div>
                     </div>
                     <div class="accordion_area">
                        <div class="faq-part">
                           <div id="accordion">
                              <div class="card card-2 active">
                                 <div class="card-header witr_ac_card"> 
                                    <a href="#" class=" witr_ac_style collapsed" data-bs-toggle="collapse" data-bs-target="#collapse_0f9c115"> <i class=""></i> Can i specify a delivery date when ordering? </a>
                                 </div>
                                 <div id="collapse_0f9c115" class="ac_s_padding show collapse" data-parent="#accordion">
                                    <p>A wonderful serenity has taken possession of my entire soul, these sweet mornings of spring which I enjoy with my whole eart. I am lone, and feel the charm</p>
                                 </div>
                              </div>
                              <div class="card card-2">
                                 <div class="card-header witr_ac_card">
                                    <a href="#" class=" witr_ac_style collapsed" data-bs-toggle="collapse" data-bs-target="#collapse_57cb98a"> <i class=""></i>What is off page seo link building? </a>
                                 </div>
                                 <div id="collapse_57cb98a" class="ac_s_padding collapse" data-parent="#accordion">
                                    <p>Anyone who loves or pursues or desires to obtain pain of itself, because it is pain timelines for the digital consulting.</p>
                                 </div>
                              </div>
                              <div class="card card-2">
                                 <div class="card-header witr_ac_card"> 
                                    <a href="#" class=" witr_ac_style collapsed" data-bs-toggle="collapse" data-bs-target="#collapse_a90f311"> <i class=""></i> How investing in dependend incer </a>
                                 </div>
                                 <div id="collapse_a90f311" class="ac_s_padding collapse" data-parent="#accordion">
                                    <p>Anyone who loves or pursues or desires to obtain pain of itself, because it is pain timelines for the digital consulting.</p>
                                 </div>
                              </div>
                              <div class="card card-2">
                                 <div class="card-header witr_ac_card"> 
                                    <a href="#" class=" witr_ac_style" data-bs-toggle="collapse" data-bs-target="#collapse_f98c440"> <i class=""></i> High Quality Data Security </a>
                                 </div>
                                 <div id="collapse_f98c440" class="collapse ac_s_padding" data-parent="#accordion">
                                    <p>Anyone who loves or pursues or desires to obtain pain of itself, because it is pain timelines for the digital consulting.</p>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- footer area -->
      <div class="witrfm_area">
         <!-- FOOTER MIDDLE AREA -->
         <div class="footer-middle">
            <div class="container">
               <div class="row">
                  <div class="col-sm-12 col-md-6  col-lg-3">
                     <div class="footer_content_inner">
                        <div class="poket-destransportiption-area">
                           <a href="#"><img src="assets/images/transport/logo2.png" alt="image" /></a>
                           <p>A monthly digest of the latest news and venen is urna resources. our clinic was created to ma your smile beautiful, healthy and snow-white. venenatis urna resources.</p>
                           <p class="phone"><a href="#"> </a></p>
                           <div class="social-icons">
                              <a class="facebook" href="#"><i class="icofont-facebook"></i></a>
                              <a class="twitter" href="#"><i class="icofont-x"></i></a>
                              <a class="Pinterest" href="#"><i class="icofont-pinterest"></i></a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-12 col-md-6  col-lg-3">
                     <div class="widget widget_nav_menu">
                        <h2 class="widget-title">Company Service</h2>
                        <div class="menu-useful-links-container">
                           <ul class="menu">
                              <li><a href="#">-Maritime Transport</a></li>
                              <li><a href="#">Typography Air Freight</a></li>
                              <li><a href="#">-Track Your Shipment</a></li>
                              <li><a href="#">-Request a Freight</a></li>
                              <li><a href="#">-Request a Freight</a></li>
                              <li><a href="#">-Vehicle fleet</a></li>
                              <li><a href="#">-Vehicle service</a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-12 col-md-6  col-lg-3">
                     <div class="widget widget_nav_menu">
                        <h2 class="widget-title">Partnership</h2>
                        <div class="menu-useful-links-container">
                           <ul class="menu">
                              <li><a href="#">– Main truck</a></li>
                              <li><a href="#">– Short trucks</a></li>
                              <li><a href="#">– Big trailer truck</a></li>
                              <li><a href="#">– Main load truck</a></li>
                              <li><a href="#">– Blog masonry</a></li>
                              <li><a href="#">-Referral Partners</a></li>
                              <li><a href="#">-Space Services</a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-12 col-md-6  col-lg-3">
                     <div id="about_us-widget-2" class="widget about_us">
                        <h2 class="widget-title">Address Us</h2>
                        <div class="about-footer">
                           <div class="footer-widget address">
                              <div class="footer-logo">
                                 <p>Lorem ipsum dolor sit amet, consetur acing elit, sed do eiusmod ligal</p>
                              </div>
                              <div class="footer-address">
                                 <div class="footer_s_inner">
                                    <div class="footer-sociala-icon"> 
                                       <i class="icofont-google-map"></i>
                                    </div>
                                    <div class="footer-sociala-info">
                                       <p>378 FA Tower, William SBl 2123, IL, US</p>
                                    </div>
                                 </div>
                                 <div class="footer_s_inner">
                                    <div class="footer-sociala-icon"> 
                                       <i class="icofont-phone"></i>
                                    </div>
                                    <div class="footer-sociala-info">
                                       <p>(+990) 698 598 631</p>
                                    </div>
                                 </div>
                                 <div class="footer_s_inner">
                                    <div class="footer-sociala-icon">
                                       <i class="icofont-envelope-open"></i>
                                    </div>
                                    <div class="footer-sociala-info">
                                       <p>demo@example.com</p>
                                    </div>
                                 </div>
                                 <div class="footer_s_inner">
                                    <div class="footer-sociala-icon">
                                       <i class="icofont-ui-clock"></i>
                                    </div>
                                    <div class="footer-sociala-info">
                                       <p> Opening Hours: 9:00 - 6:00</p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- END FOOTER MIDDLE AREA -->
         <!-- FOOTER BOTTOM AREA -->
         <div class="footer-bottom">
            <div class="container">
               <div class="row">
                  <div class="col-lg-6 col-md-6  col-sm-12">
                     <div class="copy-right-text">
                        <p>Copyright &copy; poket all rights reserved.</p>
                     </div>
                  </div>
                  <div class="col-lg-6 col-md-6  col-sm-12">
                     <div class="footer-menu text-right">
                        <ul>
                           <li><a href="#">Service</a></li>
                           <li><a href="#">Contact</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Include All JS -->
      <script src="assets/js/vendor/jquery-3.5.1.min.js"></script>
      <script src="assets/js/bootstrap.min.js"></script>
      <script src="assets/js/isotope.pkgd.min.js"></script>
      <script src="assets/js/owl.carousel.min.js"></script>
      <script src="assets/js/jquery.nivo.slider.pack.js"></script>
      <script src="assets/js/slick.min.js"></script>
      <script src="assets/js/imagesloaded.pkgd.min.js"></script>
      <script src="venobox/venobox.min.js"></script>
      <script src="assets/js/jquery.appear.js"></script>
      <script src="assets/js/jquery.knob.js"></script>
      <script src="assets/js/BeerSlider.js"></script>
      <script src="assets/js/theme-pluginjs.js"></script>
      <script src="assets/js/jquery.meanmenu.js"></script>
      <script src="assets/js/ajax-mail.js"></script>		
      <script src="assets/js/theme.js"></script>
   </body>
</html>